

/* Reset and format all basic elements
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* Hacks
*/

/* Breaking long lines of text */
/* http://stackoverflow.com/questions/320184/who-has-solved-the-long-word-breaks-my-div-problem-hint-not-stackoverflow */
p {
  word-wrap: break-word;  
}
.word-break {
  /* The following styles prevent unbroken strings from breaking the layout */
  width: 100%; /* set to whatever width you need */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}




/* Common 
*/

table {
  width: 100%;
  margin-bottom: 5%;
}
td, th, tr {
  vertical-align: top;
  text-align: left;
}
td, th {
  padding: 2%;
}
tr {
  border-bottom: 1px solid;
}

input, textarea, select {
  width: 95%;
  font-size: 100%; 
}
input.button {
  width: auto;
}
input[type="radio"], input[type="checkbox"], input[type="file"] {
  width: auto;
}


.link {
  cursor: pointer;
}
.clear {
  clear: both;
}
.block {
  width: 100%;
  float: left;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: center;
}
ul {
  list-style-type: disc;
}
ul.inline-list {
  display: block;
  margin: 0;
}
ul.inline-list li {
  display: inline;
  list-style-type: none;
  margin-left: 0;
  white-space: nowarp;  
}





