<h1>We did not found any posts for you ({{ blog.title }}).</h1>
<div id="summary">
  <p>Please try searching <strong>again</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p> 
</div>
