<h1>The Grid and the Elements</h1>

<ul>
<li>File name: <a href="layout.css">layout.css</a></li>
<li>Aligning elements both vertically and horizontally</li>
<li>Author: <a href="http://shopledge.com" title="Shopledge">Shopledge</a></li>
<li>License: MIT Licence. Copyright 2010 Shopledge <a href="http://shopledge.com" title="Shopledge">www.shopledge.com</a></li>
</ul>


<hr />

<h2>The Layout</h2>

<ul>
<li>centered, width <strong>80%</strong>, <strong>10%</strong> margins left and right</li>
<li>this layout does not change on large, and tablet screens, only on mobiles</li>
</ul>


<h2>Vertical Rhythm</h2>

<ul>
<li>the height of the grid is set to <strong>1.25em</strong></li>
</ul>


<h2>The Horizontal Grid</h2>

<ul>
<li><p>we have two types of grid:</p>

<ul>
<li>an automatic, given by <strong>em</strong> which resizes itself across all responsive styelsheets</li>
<li>a forced, given by <strong>%</strong> which must be handled responsively</li>
<li>if on a single page both grids are displayed they might not be in harmony (ie. Product page with related products at bottom, like in Gadgetoman)</li>
</ul>
</li>
</ul>


<h3>The automatic grid</h3>

<ul>
<li>used in listing images (displaying collections)</li>
<li>there is no need to float left the images</li>
<li><p>in Shopify's case the grid is given by the image sizes:</p>

<ul>
<li><strong>small</strong> - 100x100px = 6.75em</li>
<li><strong>medium</strong> - 240x240px = 15em</li>
<li><strong>large</strong> - 480x480px = 30em</li>
<li><strong>grande</strong> - 600x600px = 37.5em</li>
<li><strong>original</strong> - 1024x1024px = 64em</li>
</ul>
</li>
<li><p>if <strong>medium</strong> sized thumbs are shown a column is 15em + margins, in our case <strong>20em</strong></p></li>
</ul>


<h3>The forced grid</h3>

<ul>
<li>when we are forcing to align elements on a page</li>
<li>for example, on the Product page we want two columns, the first with product info the second with operations on Product</li>
<li><p>in this case we are <strong>not</strong> thinking in grid columns (ie a column with 20em width) but in percentages</p>

<ul>
<li>our available screen is always 100%;</li>
<li>in lower resolutions if we want to align the right col after the left column we must use the responsive stylesheets</li>
<li>columns must be always floated left</li>
</ul>
</li>
</ul>


<h2>Page Structure / Element naming conventions</h2>

<ul>
<li><p>each page has the following structure:</p>

<pre><code>#header
#content
#footer
</code></pre></li>
<li><p><strong>#content</strong> is marked with one of these page types:</p>

<ul>
<li><strong>.collection</strong> - for collections page, search page, blog page</li>
<li><strong>.page</strong> - for product page, article page, not_found, and page</li>
<li><strong>.index</strong> - for the start page</li>
<li>in any case the page template name is added as a class to #content</li>
</ul>
</li>
<li><p>inside #content everything is wrapped into <strong>#section</strong> or <strong>#article</strong></p></li>
<li><p>a #section or #article is marked up as <strong>.block</strong> in <code>base.css</code></p>

<pre><code>#content.index
  #section.about
  #section.latest
  #section.featured
  ...
  #section.navigation

#content.product
  #article
  #section.navigation
</code></pre></li>
<li><p>naming elements is done by following the <a href="http://www.w3schools.com/html5/html5_new_elements.asp">HTML5 specification</a>:</p>

<ul>
<li><strong>#nav</strong> is used to identify all navigation elements (menus)</li>
<li><strong>#article</strong> identifies every product or blog post</li>
<li><p><strong>#article.thumb </strong> displays more then one articles in a collection, and has the following structure:</p>

<pre><code>#article.thumb
  #details
  #figure
  #figcaption
    #title
    #price
    #summary
</code></pre></li>
<li><p>in general <strong>#details</strong>, <strong>#figure</strong>, <strong>#figcaption</strong> and <strong>#summary</strong> is used whenever possible</p></li>
</ul>
</li>
</ul>


<h3>Other conventions</h3>

<ul>
<li><p><strong>accordion</strong> like navigation is marked up like:</p>

<pre><code>.navigation
  &lt;h3&gt;Title
  &lt;ul&gt; ...

  &lt;h3&gt;Title
  &lt;ul&gt; ...

  ...
</code></pre></li>
<li><p>every navigational element is wrapped into an <code>&lt;ul&gt;</code></p></li>
</ul>


<h2>Header</h2>

<h3>Main Menu</h3>

<ul>
<li>The current page cannot be highlighted due to a Liquid bug <strong>BUG</strong></li>
<li>Search is added at the end of the Main Menu (<strong>li#search</strong> ). This is not a link, it will be handled by Javascript</li>
<li>The search form (<strong>#search</strong>)is hidden by default.</li>
<li>There are two Main Menus, one for <strong>#nav.desktop</strong> and the other for <strong>#nav.mobile</strong>. The logo is wrapped inside these Main Menus</li>
</ul>


<h3>Shopping Menu</h3>

<ul>
<li>There are three sections <strong>#quantity</strong>, <strong>#price</strong> and <strong>#info</strong></li>
</ul>


<h3>Logo</h3>

<ul>
<li>The logo is wrapped into a <strong>h2</strong></li>
</ul>


<h2>Frontpage / Index</h2>

<h3>Collections</h3>

<ul>
<li>displays different collections of products</li>
<li><p>each collection is wrapped into a following structure:</p>

<pre><code>#section.&lt;collectionname&gt;
  &lt;h1&gt;Collection title&lt;/h1&gt;
    #articles
      #article
      #article 
      ...
</code></pre></li>
<li><p>each item is wrapped into the following structure:</p>

<pre><code>#article.thumb
  #details
    #figure
    #figcaption
      #title
      #price
      #summary
</code></pre></li>
<li><p>if the collection is empty a <strong>.notice</strong> is left how to create the collection</p></li>
</ul>


<h3>Information and Navigation</h3>

<ul>
<li>displays the Frontpage article</li>
<li>Displays the shop data</li>
<li>displays the list of all collections, product types, vendors and tags</li>
</ul>


<h2>Collections page</h2>

<h2>Product page</h2>

<ul>
<li><p>the structure of a product is like:</p>

<pre><code>#article
  #details
    &lt;h1&gt;Title
    #figure
    #thumbs
    #summary
  #aside
    #shopping
</code></pre></li>
</ul>

