/*
# The Grid and the Elements

* File name: [layout.css](layout.css )
* Aligning elements both vertically and horizontally
* Author: [Shopledge](http://shopledge.com "Shopledge")
* License: MIT Licence. Copyright 2010 Shopledge [www.shopledge.com](http://shopledge.com "Shopledge")

---
*/


/*
## The Layout

* centered, width **80%**, **10%** margins left and right
* this layout does not change on large, and tablet screens, only on mobiles

*/
.container {
  width: 80%;
  max-width: 80em;  /* 80x16px=1280px */
  margin: 0 auto;
}


/*
## Vertical Rhythm 

* the height of the grid is set to **1.25em**
* typography is not set yet

*/

body {
  font: normal 100% Helvetica, Arial, sans-serif;
  line-height: 1.25; 
}

h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; padding:1.45833em 0; }
h2 { font-size:1.33333em; padding:1.25em 0; }
h3 { font-size:1.16667em; padding:1.51785em 0; }




/* 
## The Horizontal Grid 

*/



/*
## Navigation

* Each navigational element is wrapped into a **#nav** div and uses **ul.inline-list** for its elements

### Main Menu

* The current page cannot be highlighted due to a Liquid bug **BUG**
* Search is added at the end of the Main Menu (**li#search** ). This is not a link, it will be handled by Javascript
* The search form (**#search**)is hidden by default.
* There are two Main Menus, one for **#nav.desktop** and the other for **#nav.mobile**. The logo is wrapped inside these Main Menus

*/

#header #nav {

}
#header #nav ul {

}
#header #nav ul.search {

}
#header #search {
  display: none;
}


/*
### Shopping Menu

* There are three sections **#quantity**, **#price** and **#info**

*/

#shopping {

}
#shopping #quantity {

}
#shopping #price {

}
#shopping #info {

}


/*
## Logo

* The logo is wrapped into a **h2**

*/


/*
## Frontpage / Index

### Collections

* displays different collections of products
* each collection is wrapped into a following structure:

      #section.<collectionname>
        <h1>Collection title</h1>
          #articles
            #article
            #article 
            ...
        
* each item is wrapped into the following structure:

      #article
        #details
          #figure
          #figcaption
            #title
            #price
            #summary
        
* **BUG** The featured image is cannot be displayed by Vision ... 
* if the collection is empty a **.notice** is left how to create the collection

### Information and Navigation

* displays the Frontpage article

      #article
        #details
          <h1>Title
          #summary      **BUG** in Vision for page excerpts
          #read-more

* Displays the shop data 

* displays the list of all collections, product types, vendors and tags 

      #section.navigation
        <h3>Title
        <ul>
        ...
        
        <h3>Title
        ul.inline-list 

* a **BUG** in Vision doesn't displays types, vendors, and tags ....

*/




/*
## Collections page

*/









