/*
# The Grid and the Elements

* File name: [layout.css](layout.css )
* Aligning elements both vertically and horizontally
* Author: [Shopledge](http://shopledge.com "Shopledge")
* License: MIT Licence. Copyright 2010 Shopledge [www.shopledge.com](http://shopledge.com "Shopledge")

---
*/


/*
## The Layout

* centered, width **80%**, **10%** margins left and right
* this layout does not change on large, and tablet screens, only on mobiles

*/
.container {
  width: 80%;
  max-width: 80em;  /* 80x16px=1280px */
  margin: 0 auto;
}


/*
## Vertical Rhythm 

* the height of the grid is set to **1.25em**

*/

body {
  font: normal 100% Helvetica, Arial, sans-serif;
  line-height: 1.25; 
}

h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; padding:1.45833em 0; }
h2 { font-size:1.33333em; padding:1.25em 0; }
h3 { font-size:1.16667em; padding:1.51785em 0; }




/* 
## The Horizontal Grid 

*/




/* 
## Page Structure / Element naming conventions

* each page has the following structure:

      #header
      #content
      #footer

* **#content** is marked with one of these page types:

  * **.collection** - for collections page, search page, blog page
  * **.page** - for product page, article page, not_found, and page
  * **.index** - for the start page
  * in any case the page template name is added as a class to #content
  
* inside #content everything is wrapped into **#section** or **#article**

      #content.index
        #section.about
        #section.latest
        #section.featured
        ...
        #section.navigation

      #content.product
        #article
        #section.navigation
        
* naming elements is done by following the [HTML5 specification](http://www.w3schools.com/html5/html5_new_elements.asp ):

  * **#nav** is used to identify all navigation elements (menus)
  * **#article** identifies every product or blog post
  * **#article.thumb ** displays more then one articles in a collection, and has the following structure:
  
        #article.thumb
          #details
          #figure
          #figcaption
            #title
            #price
            #summary
            
  * in general **#details**, **#figure**, **#figcaption** and **#summary** is used whenever possible


### Other conventions

* **accordion** like navigation is marked up like:

      .navigation
        <h3>Title
        <ul> ...
        
        <h3>Title
        <ul> ...
        
        ...
        
* every navigational element is wrapped into an `<ul>`

*/

#article.thumb {
  width: 20em; /* medium sized image is 16x16em */
  height: 40em; 
}
#article.thumb #figure {
  height: 20em;
}



/*
## Header

### Main Menu

* The current page cannot be highlighted due to a Liquid bug **BUG**
* Search is added at the end of the Main Menu (**li#search** ). This is not a link, it will be handled by Javascript
* The search form (**#search**)is hidden by default.
* There are two Main Menus, one for **#nav.desktop** and the other for **#nav.mobile**. The logo is wrapped inside these Main Menus

*/




/*
### Shopping Menu

* There are three sections **#quantity**, **#price** and **#info**

*/




/*
### Logo

* The logo is wrapped into a **h2**

*/




/*
## Frontpage / Index

### Collections

* displays different collections of products
* each collection is wrapped into a following structure:

      #section.<collectionname>
        <h1>Collection title</h1>
          #articles
            #article
            #article 
            ...
        
* each item is wrapped into the following structure:

      #article.thumb
        #details
          #figure
          #figcaption
            #title
            #price
            #summary
        
* if the collection is empty a **.notice** is left how to create the collection

### Information and Navigation

* displays the Frontpage article
* Displays the shop data 
* displays the list of all collections, product types, vendors and tags 

*/




/*
## Collections page

*/



/*
## Product page

* the structure of a product is like:

      #article
        #details
          <h1>Title
          #figure
          #thumbs
          #summary
        #aside
          #shopping


*/









