<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
  
    
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      		<meta name="keywords" content="Theme Settings,Include (Liquid tag),Liquid">
		<link rel="shortcut icon" href="http://wiki.shopify.com/favicon.ico">
		<link rel="search" type="application/opensearchdescription+xml" href="http://wiki.shopify.com/opensearch_desc.php" title="Shopify Wiki (English)">
<link rel="alternate" type="application/rss+xml" title="Shopify Wiki RSS Feed" href="http://wiki.shopify.com/index.php?title=Special:Recentchanges&amp;feed=rss">
<link rel="alternate" type="application/atom+xml" title="Shopify Wiki Atom Feed" href="http://wiki.shopify.com/index.php?title=Special:Recentchanges&amp;feed=atom">
      <title>Theme Settings - Shopify Wiki</title>

      <link rel="stylesheet" type="text/css" media="screen" href="Theme_Settings_files/shared.css">
       
       
      <script src="Theme_Settings_files/prototype.js"></script>
      <script src="Theme_Settings_files/cookie.js"></script>
      <script src="Theme_Settings_files/cookiesheet.js"></script>
      <!-- <script type="text/javascript" 
      <script src="/skins/shopify/cookiesheet.js"></script>
      src="/skins/common/shcore.js"></script>
      <script type="text/javascript" 
      src="/skins/common/shbrushxml.js"></script>
      
      <link rel="stylesheet" type="text/css" media="screen" 
      href="/skins/common/shthemedefault.css?" />
       <link rel="stylesheet" type="text/css" media="screen" 
        href="/skins/common/shcore.css?" />
         -->

<!--         <script type="text/javascript">
            SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
            SyntaxHighlighter.all();
          </script> -->

      

      <script type="text/javascript" charset="utf-8">
      Event.observe(window, 'load', function(){
        initPage();        
      });
      </script>
      <link rel="stylesheet" type="text/css" media="print" href="Theme_Settings_files/commonPrint.css">
      
      <link rel="stylesheet" type="text/css" media="screen" href="Theme_Settings_files/main.css">
      <!--[if lt IE 5.5000]><link rel="stylesheet" type="text/css" media="screen"
      href="/skins/monobookmodified/IE50Fixes.css?116" /><![endif]-->
      <!--[if IE 5.5000]><link rel="stylesheet" type="text/css" media="screen"
      href="/skins/monobookmodified/IE55Fixes.css?116"  /><![endif]-->
      <!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen"
      href="/skins/monobookmodified/IE60Fixes.css?116"  /><![endif]-->
      <!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen"
      href="/skins/monobookmodified/IE70Fixes.css?116"  /><![endif]-->
      <link rel="stylesheet" type="text/css" href="Theme_Settings_files/index_003.css">
      <link rel="stylesheet" type="text/css" media="print" href="Theme_Settings_files/index.css">
      <link rel="stylesheet" type="text/css" href="Theme_Settings_files/index_002.css">
      <link rel="stylesheet" href="Theme_Settings_files/index_004.css" type="text/css">

      <!--[if lt IE 7]><script type="text/javascript" src="/skins/common/IEFixes.js?116"></script>
      <meta http-equiv="imagetoolbar" content="no" /><![endif]-->
      
      <link href="Theme_Settings_files/resources-nav.css" media="screen" rel="stylesheet" type="text/css">
      
      <script type="text/javascript">/*<![CDATA[*/
var skin = "shopify";
var stylepath = "/skins";
var wgArticlePath = "/$1";
var wgScriptPath = "";
var wgScript = "/index.php";
var wgServer = "http://wiki.shopify.com";
var wgCanonicalNamespace = "";
var wgCanonicalSpecialPageName = false;
var wgNamespaceNumber = 0;
var wgPageName = "Theme_Settings";
var wgTitle = "Theme Settings";
var wgAction = "view";
var wgRestrictionEdit = [];
var wgRestrictionMove = [];
var wgArticleId = "2449";
var wgIsArticle = true;
var wgUserName = null;
var wgUserGroups = null;
var wgUserLanguage = "en";
var wgContentLanguage = "en";
var wgBreakFrames = false;
var wgCurRevisionId = "10366";
var wgVersion = "1.12.0";
var wgEnableAPI = true;
var wgEnableWriteAPI = false;
/*]]>*/</script>

      <script type="text/javascript" src="Theme_Settings_files/wikibits.js"><!-- wikibits js --></script>
      <!-- Head Scripts -->
        		<link rel="stylesheet" type="text/css" href="Theme_Settings_files/shCore.css">
		<link rel="stylesheet" type="text/css" href="Theme_Settings_files/shThemeDefault.css">
		<script type="text/javascript" src="Theme_Settings_files/shCore.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushBash.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushCpp.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushCSharp.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushCss.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushDelphi.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushDiff.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushGroovy.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushJava.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushJScript.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushPerl.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushPhp.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushPlain.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushPython.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushRuby.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushScala.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushSql.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushVb.js"></script>
		<script type="text/javascript" src="Theme_Settings_files/shBrushXml.js"></script>
		<script type="text/javascript">SyntaxHighlighter.all();</script>
              <script type="text/javascript" src="Theme_Settings_files/index.php"><!-- site js --></script>
                            <style type="text/css">/*<![CDATA[*/
@import "/index.php?title=MediaWiki:Common.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000";
@import "/index.php?title=MediaWiki:Shopify.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000";
@import "/index.php?title=-&action=raw&gen=css&maxage=18000&useskin=shopify";
/*]]>*/</style>
                  </head><body class="mediawiki ltr page-Theme_Settings ">
      
      <div class="resources-nav"> 
          <ul> 
            <li class="logo"><a href="http://www.shopify.com/resources"><img src="Theme_Settings_files/logo-shopify.html"></a></li>
            <li><a href="http://apps.shopify.com/" title="Shopify App Store">Apps</a></li>
            <li><a href="http://themes.shopify.com/" title="Home">Themes </a></li>
            <li><a href="http://support.myshopify.com/" title="Shopify — Support">Support</a></li>          
            <li><a href="http://forums.shopify.com/" title="Shopify Community">Forums</a></li>

            <li class="current"><a href="http://wiki.shopify.com/" title="Main Page - Shopify Wiki">Wiki</a></li>
          </ul>
        </div><!-- .resources-nav -->

        <div id="header" class="clearfix">
          <div class="clearfix">
          <h1><a href="http://wiki.shopify.com/"><img src="Theme_Settings_files/logo-documentation.png"></a> </h1>
          <ul class="user-options">
                      <li id="pt-login"><a href="http://wiki.shopify.com/index.php?title=Special:Userlogin&amp;returnto=Theme_Settings" title="You are encouraged to log in, it is not mandatory however. [o]" accesskey="o">Log in / create account</a></li>
                          </ul>

          </div><!-- .clearfix -->

        </div><!-- #header -->
        
              <div id="wrapper">

       <div id="container" class="clearfix">
        <div id="sidebar" class="col-3">
          <div class="sidebar-wrapper"> 
            
            <div id="p-search" class="portlet">
           		<h5><label for="searchInput">Search</label></h5>
           		<div id="searchBody" class="pBody">
           			<form action="/Special:Search" id="searchform"><div>
           				<input id="searchInput" name="search" title="Search Shopify Wiki [alt-f]" accesskey="f" type="text">
           				<!-- /* <input type='submit' name="go" class="searchButton" id="searchGoButton"  value="Go" title="Go to a page with this exact name if exists" />&nbsp; */ -->
           				<input name="fulltext" class="searchButton" id="mw-searchButton" value="Search" title="Search the pages for this text" type="submit">
           			</div></form>
           		</div>
           	</div>
           	
           	<div id="category-navigation">
           	  <h3><a href="#">Using Shopify</a></h3>
           	   <div id="using-shopify" class="drop" style="display: none;">
           	     
           	     <h4>Intro to Shopify</h4>
           	     <ul>
           	      <li><a href="http://wiki.shopify.com/Getting_Started" title="Getting Started - Shopify Wiki">Getting Started</a></li>
           	      <li><a href="http://wiki.shopify.com/Help:Products" title="Help:Products - Shopify Wiki">Products</a></li>
           	      <li><a href="http://wiki.shopify.com/Help:Collections" title="Help:Collections - Shopify Wiki">Collections</a></li>
           	      <li><a href="http://wiki.shopify.com/Help:ContentManagement" title="Help:ContentManagement - Shopify Wiki">Blogs &amp; Pages</a></li>
           	      <li><a href="http://wiki.shopify.com/Help:Preferences" title="Help:Preferences - Shopify Wiki">Preferences</a></li>
           	     </ul>
           	     
           	     <h4>Misc.</h4>
           	     <ul>
           	      <li><a href="http://wiki.shopify.com/Troubleshooting_PayPal_Website_Payments_Pro" title="PayPal - Shopify Wiki">Paypal Issues</a></li>
           	      <li><a href="http://wiki.shopify.com/FAQ" title="FAQ - Shopify Wiki">F.A.Q</a></li>
           	     </ul>
           	     
           	     <h4>Your shop's design</h4>
           	     <ul>
                  <li><a href="http://wiki.shopify.com/Category:Designer" title="Category:Designer - Shopify Wiki">List of Shopify designers</a></li>
           	      <li><a href="http://forums.shopify.com/categories/11" title="Job Board">Shopify Job Board</a></li>
           	     </ul>
           	     

          	   </div><!-- .name -->

           	  
           	  <h3><a href="#category-navigation">Designing</a></h3>
           	   <div id="designing" class="drop" style="display: none;">
           	    <h4>Shopify 101</h4>
           	      <ul>
           	        <li><a href="http://wiki.shopify.com/Intro_to_Shopify" title="Intro to Shopify - Shopify Wiki">Intro to Shopify</a></li>
           	        <li><a href="http://wiki.shopify.com/Liquid" title="Liquid - Shopify Wiki">Liquid</a></li>
           	        <li><a href="http://wiki.shopify.com/Templates" title="Templates - Shopify Wiki">Templates</a></li>
           	        <li><a href="http://wiki.shopify.com/Template_variables" title="Template variables - Shopify Wiki">Variables</a></li>
           	        <li><a href="http://wiki.shopify.com/Filters" title="Filters - Shopify Wiki">Filters</a></li>
           	        <li><a href="http://wiki.shopify.com/Logic" title="Logic - Shopify Wiki">Logic</a></li>
           	      </ul>
           	      
           	     <h4>Tutorials</h4>
           	      <ul>
           	        <li><a href="http://wiki.shopify.com/Theme_from_scratch" title="Theme from scratch - Shopify Wiki">Theme from scratch</a></li>
           	        <li><a href="http://wiki.shopify.com/Display_an_image" title="Display an image - Shopify Wiki">Displaying images</a></li>
           	        <li><a href="http://wiki.shopify.com/Theme_Settings" title="Theme Settings - Shopify Wiki">Theme Settings</a></li>
           	        <!-- <li>Navigation</li> -->
           	        <!-- <li>Title Tags</li> -->
           	        <li><a href="http://wiki.shopify.com/Tutorials" title="Tutorials - Shopify Wiki">More tutorials...</a></li>
           	      </ul>
           	        
           	        
           	        <h4>Resources</h4>
           	        
           	        <ul>
           	          <li><a href="http://www.shopify.com/cheat">Cheat Sheet</a></li>
           	          <li><a href="http://forums.shopify.com/categories/2" title="Design">Designer forums</a></li>
           	        </ul>


           	   </div><!-- .name --> 
           	   

           	   

           	  <h3><a href="#">Developing</a></h3>
           	   <div id="developing" class="drop" style="display: none;">
              	     <h4>Developing resources</h4>
              	     <ul>
              	      <li><a href="http://wiki.shopify.com/Shopify_App_Development" title="Shopify API Documentation">Getting Started</a></li>
              	      <li><a href="http://api.shopify.com/" title="Shopify API Documentation">API Reference</a></li>
              	      <li><a href="http://forums.shopify.com/categories/9" title="Developers">Developer forums</a></li>
              	     </ul>
              	     
              	     <h4>Tutorials</h4>
              	     <ul>
              	      <li><a href="http://wiki.shopify.com/Creating_an_app_and_deploying_it_to_Heroku">Deploy an app</a></li>
              	      <li><a href="http://wiki.shopify.com/Publish_your_Shopify_Application_in_the_AppStore">Publish to the App Store</a></li>
              	      <li><a href="http://wiki.shopify.com/Developing_apps" title="Developing apps - Shopify Wiki">View all tutorials</a></li>
              	     </ul>
          	    
          	   </div><!-- .developing -->
          	   
          
          	  
          	   
          	   

          	   
          	   <h3 class="wiki-admin-heading"><a href="#">Wiki Administration</a></h3>
            	   <div id="wiki-admin" class="drop" style="display: none;">
                   	<div class="generated-sidebar portlet" id="p-navigation">
		<h5>Navigation</h5>
		<div class="pBody">
			<ul>
				<li id="n-mainpage"><a href="http://wiki.shopify.com/Main_Page" title="Visit the Main Page [z]" accesskey="z">Main Page</a></li>
				<li id="n-portal"><a href="http://wiki.shopify.com/Shopify_Wiki:Community_Portal" title="About the project, what you can do, where to find things">Community portal</a></li>
				<li id="n-currentevents"><a href="http://wiki.shopify.com/Shopify_Wiki:Current_events" title="Find background information on current events">Current events</a></li>
				<li id="n-recentchanges"><a href="http://wiki.shopify.com/Special:Recentchanges" title="The list of recent changes in the wiki. [r]" accesskey="r">Recent changes</a></li>
				<li id="n-randompage"><a href="http://wiki.shopify.com/Special:Random" title="Load a random page [x]" accesskey="x">Random page</a></li>
				<li id="n-help"><a href="http://wiki.shopify.com/Help:Contents" title="The place to find out.">Help</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-tb">
		<h5>Toolbox</h5>
		<div class="pBody">
			<ul>
				<li id="t-whatlinkshere"><a href="http://wiki.shopify.com/Special:Whatlinkshere/Theme_Settings" title="List of all wiki pages that link here [j]" accesskey="j">What links here</a></li>
				<li id="t-recentchangeslinked"><a href="http://wiki.shopify.com/Special:Recentchangeslinked/Theme_Settings" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li>
<li id="t-upload"><a href="http://wiki.shopify.com/Special:Upload" title="Upload files [u]" accesskey="u">Upload file</a></li>
<li id="t-specialpages"><a href="http://wiki.shopify.com/Special:Specialpages" title="List of all special pages [q]" accesskey="q">Special pages</a></li>
				<li id="t-print"><a href="http://wiki.shopify.com/index.php?title=Theme_Settings&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li>				<li id="t-permalink"><a href="http://wiki.shopify.com/index.php?title=Theme_Settings&amp;oldid=10366" title="Permanent link to this version of the page">Permanent link</a></li>			</ul>
		</div>
	</div>

                     
                         <li id="ca-nstab-main" class="selected"><a href="http://wiki.shopify.com/Theme_Settings" title="View the content page [c]" accesskey="c">Page</a></li>
                         <li id="ca-talk" class="new"><a href="http://wiki.shopify.com/index.php?title=Talk:Theme_Settings&amp;action=edit" title="Discussion about the content page [t]" accesskey="t">Discussion</a></li>
                         <li id="ca-viewsource"><a href="http://wiki.shopify.com/index.php?title=Theme_Settings&amp;action=edit" title="This page is protected. You can view its source. [e]" accesskey="e">View source</a></li>
                         <li id="ca-history"><a href="http://wiki.shopify.com/index.php?title=Theme_Settings&amp;action=history" title="Past versions of this page. [h]" accesskey="h">History</a></li>           	   </div><!-- .name -->

           	  

           	</div><!-- category-navigaton -->

           </div><!-- .sidebar-wrap -->
      </div> <!-- sidebar -->
      
      

        <div id="content" class="col-9 last">
          <a name="top" id="top"></a>
          
          <ul class="edit-button">
            
                <li id="ca-nstab-main" class="selected"><a href="http://wiki.shopify.com/Theme_Settings" title="View the content page [c]" accesskey="c">Page</a></li>
                <li id="ca-talk" class="new"><a href="http://wiki.shopify.com/index.php?title=Talk:Theme_Settings&amp;action=edit" title="Discussion about the content page [t]" accesskey="t">Discussion</a></li>
                <li id="ca-viewsource"><a href="http://wiki.shopify.com/index.php?title=Theme_Settings&amp;action=edit" title="This page is protected. You can view its source. [e]" accesskey="e">View source</a></li>
                <li id="ca-history"><a href="http://wiki.shopify.com/index.php?title=Theme_Settings&amp;action=history" title="Past versions of this page. [h]" accesskey="h">History</a></li>            </ul>
            <h1 id="firstHeading" class="firstHeading" title="Theme Settings">Theme Settings</h1>

            <div id="bodyContent">
              <h3 id="siteSub">From Shopify Wiki</h3>
              <div id="contentSub"></div>
                                          <div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>              <!-- start content -->
              <p>To learn more about tweaking your theme settings in your shop, head over here: <a href="http://support.myshopify.com/faqs/themes-design/how-do-i-change-the-look-and-feel-of-my-shop" class="external text" title="http://support.myshopify.com/faqs/themes-design/how-do-i-change-the-look-and-feel-of-my-shop" rel="nofollow">How do I change the look and feel of my shop?</a> If you're a designer and want to add settings to the theme you're working on, keep on reading.
</p>
<table id="toc" class="toc" summary="Contents"><tbody><tr><td><div id="toctitle"><h2>Contents</h2> <span class="toctoggle">[<a href="javascript:toggleToc()" class="internal" id="togglelink">hide</a>]</span></div>
<ul>
<li class="toclevel-1"><a href="#Introduction"><span class="tocnumber">1</span> <span class="toctext">Introduction</span></a></li>
<li class="toclevel-1"><a href="#The_settings_form"><span class="tocnumber">2</span> <span class="toctext">The settings form</span></a>
<ul>
<li class="toclevel-2"><a href="#Requirements"><span class="tocnumber">2.1</span> <span class="toctext">Requirements</span></a></li>
<li class="toclevel-2"><a href="#Available_form_inputs"><span class="tocnumber">2.2</span> <span class="toctext">Available form inputs</span></a>
<ul>
<li class="toclevel-3"><a href="#Things_to_consider"><span class="tocnumber">2.2.1</span> <span class="toctext">Things to consider</span></a></li>
<li class="toclevel-3"><a href="#Checkboxes"><span class="tocnumber">2.2.2</span> <span class="toctext">Checkboxes</span></a></li>
<li class="toclevel-3"><a href="#File_uploads"><span class="tocnumber">2.2.3</span> <span class="toctext">File uploads</span></a></li>
</ul>
</li>
<li class="toclevel-2"><a href="#Special_CSS_classes_you_can_use"><span class="tocnumber">2.3</span> <span class="toctext">Special CSS classes you can use</span></a>
<ul>
<li class="toclevel-3"><a href="#color"><span class="tocnumber">2.3.1</span> <span class="toctext">color</span></a></li>
<li class="toclevel-3"><a href="#font"><span class="tocnumber">2.3.2</span> <span class="toctext">font</span></a></li>
<li class="toclevel-3"><a href="#collection"><span class="tocnumber">2.3.3</span> <span class="toctext">collection</span></a></li>
<li class="toclevel-3"><a href="#blog_.26_page"><span class="tocnumber">2.3.4</span> <span class="toctext">blog &amp; page</span></a></li>
<li class="toclevel-3"><a href="#linklist"><span class="tocnumber">2.3.5</span> <span class="toctext">linklist</span></a></li>
<li class="toclevel-3"><a href="#snippet"><span class="tocnumber">2.3.6</span> <span class="toctext">snippet</span></a></li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Using_the_settings_object_in_Liquid"><span class="tocnumber">3</span> <span class="toctext">Using the settings object in Liquid</span></a></li>
</ul>




</td></tr></tbody></table><script type="text/javascript"> if (window.showTocToggle) { var tocShowText = "show"; var tocHideText = "hide"; showTocToggle(); } </script>
<a name="Introduction"></a><h2> <span class="mw-headline"> Introduction </span></h2>
<p>Theme settings provide an easy way for any user to customize the look
 and feel of their shop without having to delve into HTML or CSS code. 
In order for a theme to be customizable in this way, a couple of things 
need to be put in place:
</p>
<ul><li> A settings form built with standard HTML
</li><li> References to the <code>settings</code> object and its properties in your <a href="http://wiki.shopify.com/Liquid" title="Liquid">Liquid</a> files.
</li></ul>
<p>The form is rendered at the top of the theme editor screen in your shop's admin panel. The <code>name</code>
 attributes of the various inputs in the form (aside from file uploads, 
explained below) are mapped directly to properties on the <code>settings</code> object in Liquid.
</p><p>For example, if a user sets the value of a text field named 
"text_color" to "#303030", then this value could be used in any layout 
or template like so:
</p>
<pre>  &lt;style&gt;
    body {color: {{ settings.text_color }};}
  &lt;/style&gt;
</pre>
<p>If a user has not yet saved any values through the form, then the 
defaults are used as defined in the form. This is done through a 
combination of the <code>value</code> or <code>checked</code> attributes for <code>input</code> tags, the <code>selected</code> attribute for <code>option</code> tags, and the text content of <code>textarea</code> tags.
</p>
<a name="The_settings_form"></a><h2> <span class="mw-headline"> The settings form </span></h2>
<a name="Requirements"></a><h3> <span class="mw-headline"> Requirements </span></h3>
<p>The settings form is defined in <code>settings.html</code>, which resides in your theme's <code>config</code>
 folder. The file doesn't contain the whole form; Shopify takes care of 
the actual form tag and submit button. Shopify also manipulates the code
 a bit at render time to make it work well in the admin section.
</p><p>The form is validated before being saved to make sure it follows a
 few rules. Most notably, you can't use any javascript and you can't 
define any custom CSS styles. It is also run through an XML parser to 
make sure it's a valid XML fragment.
</p>
<a name="Available_form_inputs"></a><h3> <span class="mw-headline"> Available form inputs </span></h3>
<p>You can use the following inputs in your form by using standard HTML:
</p>
<ul><li> Single-line text fields *NOTE* Make sure the empty value field is present.
</li></ul>
<pre>    &lt;tr&gt;
      &lt;th&gt;&lt;label for="my_text"&gt;Name of this setting.&lt;/label&gt;&lt;/th&gt;
      &lt;td&gt;&lt;input type="text" id="my_text" name="my_text" class="text" value=""/&gt;&lt;/td&gt;
    &lt;/tr&gt;
</pre>
<ul><li> Multi-line text areas *NOTE* Make sure the empty value field is present.
</li></ul>
<pre>    &lt;tr&gt;
      &lt;th&gt;&lt;label for="my_textarea"&gt;Name of this setting.&lt;/label&gt;&lt;/th&gt;
      &lt;td&gt;&lt;input type="textarea" rows="4" cols="20" id="my_textarea" name="my_textarea" class="textarea" value=""/&gt;&lt;/td&gt;
    &lt;/tr&gt;
</pre>
<ul><li> Drop-down menus
</li></ul>
<pre>    &lt;tr&gt;
      &lt;td&gt;&lt;label for="my_dropdown"&gt;Name of this Setting&lt;/label&gt;&lt;/td&gt;
      &lt;td&gt;
        &lt;select name="my_dropdown" id="my_dropdown"&gt;
          &lt;option value="1" selected="selected"&gt;1&lt;/option&gt;
          &lt;option value="2"&gt;2&lt;/option&gt;
          &lt;option value="3"&gt;3&lt;/option&gt;
          &lt;option value="4"&gt;4&lt;/option&gt;
        &lt;/select&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
</pre>
<ul><li> Radio buttons
</li><li> Checkboxes
</li></ul>
<pre>    &lt;tr&gt;
      &lt;td&gt;&lt;label for="my_checkbox"&gt;Name of this Setting&lt;/label&gt;&lt;/td&gt;
      &lt;td&gt;&lt;input type="checkbox" id="my_checkbox" name="my_checkbox" value="1" /&gt;&lt;/td&gt;
    &lt;/tr&gt;
</pre>
<ul><li> File uploads
</li></ul>
<pre>    &lt;tr&gt;
      &lt;td&gt;&lt;label for="my_img"&gt;Settings Name&lt;/label&gt;&lt;/td&gt;
      &lt;td&gt;
        &lt;input type="file" id="my_img" name="my_img.jpg"  data-max-width="100" data-max-height="200" /&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
</pre>
<a name="Things_to_consider"></a><h4> <span class="mw-headline"> Things to consider </span></h4>
<a name="Checkboxes"></a><h4> <span class="mw-headline"> Checkboxes </span></h4>
<p>The values of checkboxes are always forced to be "1", and hidden 
fields are inserted for each checkbox to allow for "false" values to be 
submitted appropriately.
</p>
<a name="File_uploads"></a><h4> <span class="mw-headline"> File uploads </span></h4>
<p>File uploads always go to the theme's asset folder. The name of the 
saved file is not determined by the original name of the user's uploaded
 file, but rather is equal to the name attribute of the file input tag. 
For example, a file uploaded through this input would always be saved as
 a theme asset called logo.png:
</p>
<pre>  &lt;input type="file" name="logo.png" /&gt;
</pre>
<p>Furthermore, since the name has an image file extension, Shopify will
 try to convert the uploaded file to the appropriate format (PNG) before
 saving it. If a user tries to upload a file which Shopify cannot 
convert to PNG (such as an SWF file), they will get an error telling 
them so.
</p><p>You can also specify a maximum height and width for an image upload and Shopify will resize it accordingly:
</p>
<pre>  &lt;input type="file" name="logo.png" data-max-height="200" data-max-width="700" /&gt;
</pre>
<p>Shopify will then maintain the aspect ratio of the uploaded image while constraining it to those maximum dimensions.
</p>
<a name="Special_CSS_classes_you_can_use"></a><h3> <span class="mw-headline"> Special CSS classes you can use </span></h3>
<a name="color"></a><h4> <span class="mw-headline"> color </span></h4>
<p>Add the <code>color</code> class to a text field and Shopify will turn it into a dynamic javascript-driven color picker:
</p>
<pre>  &lt;input name="text_color" class="color" type="text" value="#332211" /&gt;
</pre>
<a name="font"></a><h4> <span class="mw-headline"> font </span></h4>
<p>The <code>font</code> class can be applied to a <code>select</code> 
tag to populate it with a standard list of web-safe CSS font family 
definitions for the user to select using concise and readable names:
</p>
<pre>  &lt;select class="font" name="header_font" id="header_font"&gt;
    &lt;option value="Georgia, Utopia, 'Times New Roman', Times, serif" selected="selected"&gt;Georgia&lt;/option&gt;
  &lt;/select&gt;
</pre>
<p>Shopify will try to intelligently merge any custom options you provide into the default ones.
</p>
<a name="collection"></a><h4> <span class="mw-headline"> collection </span></h4>
<p>The <code>collection</code> class can be applied to a <code>select</code> tag to populate it with a list of the shop's product collections.
</p>
<pre>  &lt;select class="collection" name="frontpage_collection" /&gt;
</pre>
<p>The collection <i>handles</i> become the option <i>values</i>, while the full collection names are used for the option <i>labels</i>. This means that you can access the selected collection in Liquid like so:
</p>
<pre>  {% for product in collections[settings.frontpage_collection].products&nbsp;%}
    &lt;!-- show the product --&gt;
  {% endfor&nbsp;%}
</pre>
<p>Note that it is the collection's <i>handle</i> which gets exposed to Liquid, not the collection itself. The handle is just a string which we're using as a key for the <code>collections</code> object, so <code>settings.frontpage_collection.products</code> would <i>not</i> return anything useful.
</p>
<a name="blog_.26_page"></a><h4> <span class="mw-headline"> blog &amp; page </span></h4>
<p>The <code>blog</code> and <code>page</code> classes can be applied to <code>select</code> tags to populate them with lists of the shop's blogs or pages.
</p>
<pre>  &lt;select class="blog" name="main_blog" /&gt;
  &lt;select class="page" name="welcome_message" /&gt;
</pre>
<p>These work pretty much like the <code>collection</code> selectors:
</p>
<pre>  {% for article in blogs[settings.main_blog].articles&nbsp;%}
    &lt;!-- show the article --&gt;
  {% endfor&nbsp;%}

  {{ pages[settings.welcome_message].content }}
</pre>
<a name="linklist"></a><h4> <span class="mw-headline"> linklist </span></h4>
<p>The <code>linklist</code> class can be applied to <code>select</code> tags to populate them with lists of the shop's link lists.
</p>
<pre>  &lt;select class="linklist" name="sidebar_linklist" /&gt;
</pre>
<p>Works like the blog and page selectors:
</p>
<pre>  {% for link in linklists[settings.sidebar_linklist].links&nbsp;%}
    &lt;li&gt;{{ link.title | link_to: link.url }}&lt;/li&gt;
  {% endfor&nbsp;%}
</pre>
<a name="snippet"></a><h4> <span class="mw-headline"> snippet </span></h4>
<p>The <code>snippet</code> class can be applied to a <code>select</code> tag to populate it with a list of the current theme's snippets.
</p>
<pre>  &lt;select class="snippet" name="sidebar_widget" /&gt;
</pre>
<p>The value exposed to liquid is the name of the snippet <i>without</i> the <code>.liquid</code> extension, so it is perfect for using directly in an <a href="http://wiki.shopify.com/Include_%28Liquid_tag%29" title="Include (Liquid tag)"> include tag</a>:
</p>
<pre>  {% include settings.sidebar_widget&nbsp;%}
</pre>
<a name="Using_the_settings_object_in_Liquid"></a><h2> <span class="mw-headline"> Using the settings object in Liquid </span></h2>
<p>The settings object is available to you in any <code>.liquid</code> files kept in your <code>layout</code>, <code>templates</code>, <code>snippets</code>, or <code>assets</code> folders. A <code>.css.liquid</code> file in <code>assets</code>
 is the ideal place to define user-specified styles. JavaScript files 
can use theme settings as well — for example to set the duration of a 
transition in an image slideshow.
</p><p>For example, in <code>main.css.liquid</code>:
</p>
<pre>  body {
    color: {{ settings.text_color }};
    background-color: {{ settings.bg_color }};
  }
</pre>
<p>If you want to allow the user to easily switch between bundled style 
presets, one option is to present a drop-down menu with values 
corresponding to specialized stylesheets you have created in addition to
 your main stylesheet.
</p><p>In your <code>settings.html</code>:
</p>
<pre>  &lt;select name="color_scheme"&gt;
    &lt;option value="ocean.css"&gt;Ocean&lt;/option&gt;
    &lt;option value="forest.css"&gt;Forest&lt;/option&gt;
    &lt;option value="solar.css"&gt;Solar&lt;/option&gt;
  &lt;/select&gt;
</pre>
<p>In your <code>theme.liquid</code>:
</p>
<pre>  {{ 'main.css' | asset_url | stylesheet_tag }}
  {{ settings.color_scheme | asset_url | stylesheet_tag }}
</pre>
<p>Some other things to keep in mind:
</p>
<ul><li> Any text fields with the <code>color</code> class will produce 6-digit hex codes prefixed with the pound (#) symbol, ready to use in your theme's CSS styles.
</li><li> Checkboxes always produce boolean true/false values which are most useful in if/else statements.
</li><li> If you edit a settings form on a live site, make sure that any
 textareas you add have a default value or the parser can fail to render
 the form correctly in the admin.
</li></ul>

<!-- 
NewPP limit report
Preprocessor node count: 117/1000000
Post-expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
-->

<!-- Saved in parser cache with key shopify_wiki:pcache:idhash:2449-0!1!0!!en!2!edit=0 and timestamp 20101115034540 -->
<div class="printfooter">
Retrieved from "<a href="http://wiki.shopify.com/Theme_Settings">http://wiki.shopify.com/Theme_Settings</a>"</div>
                            <!-- end content -->
                            <div class="visualClear"></div>
            </div>
          </div> <!-- content -->
                   </div><!-- container -->
   
          
          <div id="footer">
            


              <!-- <div class="portlet" id="p-personal">
                              <h5>Personal tools</h5>
                              <div class="pBody">
                                <ul>
                                                              <li id="pt-login"><a href="/index.php?title=Special:Userlogin&amp;returnto=Theme_Settings" title="You are encouraged to log in, it is not mandatory however. [o]" accesskey="o">Log in / create account</a></li>
                                                                  </ul>
                              </div>
                            </div> -->


                </div><!-- .portlet -->

                <div class="portlet" id="p-logo">
                  <a style="background-image: url(&quot;/skins/common/images/wiki.png&quot;);" href="http://wiki.shopify.com/Main_Page" title="Main Page"></a>
              </div>
          </div><!-- #footer -->
          
      <!-- >wrapper -->
      
		<script type="text/javascript">if (window.runOnloadHook) runOnloadHook();</script>
    <!-- Served in -0.000 secs. -->    
</body></html>