<div id="article" class="col col-1">  
  {% include '_notfound' %}  
</div>  

<div id="sidebar" class="col col-2">   
  <div id="navigation" class="collections block">    
    {% include '_navigation.collections' %}    
  </div>  
</div>
