<div id="article" class="col col-1">
  <div id="details">
    <div id="title">
      <h1>
        <a href="{{ page.url }}" title="{{ page.title | escape }}">{{ page.title | escape }}</a>
      </h1>    
    </div>
    <div id="summary">
      {{ page.content }}
    </div>
  </div>
</div>  

<div id="sidebar" class="col col-2">
  <div id="aside">
    {% include '_share' %}
  </div>
  
  <div id="navigation" class="collections block">
    {% include '_navigation.collections' %}
  </div>
  
</div>
