<h2 id="subscribe">Subscribe</h2>

<p>Please provide here a link / button to enable visitors sign up for a newsletter</p>
<p>We recommand Google's Feedburner Feed Service. Easy to set up and manage</p>
