<h2 id="subscribe">Subscribe</h2>
<div class="form">
  <form action="http://www.feedburner.com/fb/a/emailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=Gadgetoman-News', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">	
  <input class="text subscribe" type="text" name="email" value="Enter your email address" autocomplete="off"/>
  <input type="hidden" value="Gadgetoman-News" name="uri"/>
  <input type="hidden" name="loc" value="en_US"/>
  <br/>
  <input class="button" type="submit" value="Subscribe to newsletter" />
</form>
</div>   
