/* Colors & Theme

Hot Rocks!:
  - red: FF3300
  - yellow: FFFF66
  - green: 99FF33
  - blue: 3399FF
  - lila: 2E0927
*/

.title {
  background: #FFFF66 !important;
}
#article #comments .comment-meta {
  font-size: smaller;
  font-style: italic;
} 
.more {
  background: #3399FF !important;
  color: white !important;
}
.button {
  background: #99FF33 !important;
  color: #333 !important;
}
.sale, .sale h1 {
  background: #FF3300 !important;
  color: white !important;
}
.price-sale {
  background: white !important;
  color: #FF3300 !important;
}
.page #searchbox input.button {
  background: black !important;
  color: white !important;
}
#navigation #tags .more {
  background: #FFFF66 !important;
  color: black !important;
}
#navigation #searchbox .more {
  background: black !important;
}


.error {
  background: #FF3300 !important;
  color: white !important;
}
.new, .success {
  background: #99FF33 !important;
  color: #4C7F19 !important;
}
.highlight, .notice {
  background: #FFFF66 !important;
}

a, a:visited, a:active, :link {
  color: black;
  text-decoration: none;
}

#index #info .more, #collection #items #item #description .more, #search #items #item #description .more {
  color: white;  
  background: #3399FF !important;
}



#paginate span {
  padding: .3em;
}
#paginate span.page, #paginate span.next {
  background: #3399FF;
} 
#paginate span a{
  color: white;
}

.browse-more a, #product #navigation ul li a:hover {
  background: #3399FF;
  color: white;  
  padding: .3em;
}






