.mobile {
  display: block;
}
.desktop {
  display: none;
}

.container {
  margin: 0 .625em;
  width: auto;
}
.col {
  width: auto;
}



h1 { font-size:2em; padding:1.25em 0; } /* h1 == h3 */

/* Typograph: traditional, h1 = 2em */
#summary h1, #summary h2, #summary h3,
.article #comments h1, .article #comments h2, .article #comments h3 { margin-top:0; margin-bottom:0; }
#summary h1, .article #comments h1 { font-size:2em; padding:1.25em 0; }
#summary h2, .article #comments h2 { font-size:1.75em; padding:1.51786em 0; }
#summary h3, .article #comments h3 { font-size:1.5em; padding:1.45833em 0; }




#header #nav, #header #logo, #header #shopping {
  width: auto;
  float: left;
  text-align: left;
}
#header #logo {
  padding: 1.25em 0;
  width: 100%;
}
#header #logo h2 {
  padding: 0;
}
#header #shopping {
  -moz-border-radius: 0;
  border-radius: 0;
  width: auto;
  height: auto;
  margin-top: 0;
  padding: .612em;
}
#header #shopping #quantity {
  margin-top: 0;
  margin-right: .612em;
}
#header #shopping #quantity, #header #shopping #price {
  display: inline-block;
  float: left;
}
#header #line {
  margin-top: .36em;
}



.section #title h4 {
  margin-left: 0;
}
.section #title h4 a {
  padding: .612em;
}
.section #navigation ul li {
  font-size: 150%;
}

.section {
  height: 42em;
  margin-bottom: 2.5em;
}
.section #details, .section #articles, .section .scroller {
  height: 36em;
}
#info.section, #vendors.section {
  height: 30em;
}
#info.section #details, #vendors.section #details,
#info.section #articles, #vendors.section #articles,
#info.section .scroller, #vendors.section .scroller {
  height: 24em;
}


.section #article.thumb #figcaption {
  padding: 1.25em;
  float: left;
}
#info.section #article #figcaption #title h3 {
  padding: 0;
}


.section #article.thumb #summary {
  display: none !important; /* to override the jquery event on img hover */
}
#info.section #article.thumb #summary {
  display: block !important;
  position: relative;
  left: 0;
  width: auto;
  height: auto;
}
#article #summary {
  width: auto;
}




.collection #navigation.collections {
  margin-bottom: 1.25em;
}
.collection #show-collections-link {
  padding: .612em 0;
}
.collection #navigation.collections #show-collections ul.inline-list {
  width: 100%;
}

.collection #article.thumb {
  height: 32em;
  width: auto;
}
.collection #article.thumb #details {
  text-align: left;
}
.collection #article.thumb #figcaption {
  padding: 1.25em;
}
.collection #article.thumb #figure {
  text-align: center;
}

.search #article.page {
  height: 26em;
  width: auto;
}



#aside {
  margin: 1.25em 0;
}
#aside ul {
  margin-left: .625em;
}
#sidebar #navigation.collections ul.inline-list {
  width: 100%;
}



#article #meta {
  width: auto;
}


.cart .products #article {
  padding: .625em;
  width: auto;
}
.cart .products #image, .cart .products #info, .cart .products #update, .cart .products #remove {
  width: auto;
  float: left;
}
.cart .products #info {
  width: 50%;
  padding-top: 0;
  padding-left: 4%;
  min-height: 100px;
}
.cart .products #lineprice {
  display: none;
}
.cart a.button {
  font-size: 12px;
}



.search input.text {
  width: auto;
}

.comment-form input.text {
  width: 80%;
} 
.comment-form textarea {
  width: 81%;
}




body.sf #show-collections-link {
  color: #6D6850;
}
body.sf .collection #article.thumb {
  height: 36em;
}


body.madrid .section #details, 
body.madrid .section #articles, 
body.madrid .section .scroller {
  height: 39em;
}




  
