.mobile {
  display: block;
}
.desktop {
  display: none;
}


.container {
  margin: 0 .625em;
  width: auto;
}
.col-1, .col-2 {
  width: 100%;
  float: left;
  overflow: hidden;
}



/* Typograph: traditional, h1 = 2em */
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2em; padding:1.25em 0; }
h2 { font-size:1.75em; padding:1.51786em 0; }
h3 { font-size:1.5em; padding:1.45833em 0; }



#header #nav, #header #logo, #header #shopping {
  width: 100%;
  float: left;
  text-align: left;
}
#header #logo {
  padding: 1.25em 0;
}
#header #logo h2 {
  padding: 0;
}
#header #shopping {
  -moz-border-radius: 0;
  border-radius: 0;
  width: auto;
  height: auto;
  text-align: right;
  margin-top: 0;
  padding: .612em;
}
#header #shopping #quantity {
  margin-top: 0;
  margin-right: .612em;
}
#header #shopping #quantity, #header #shopping #price {
  display: inline-block;
  float: left;
}



.section {
  height: 36em;
  margin-bottom: 2.5em;
}

.section #title h4, .section #navigation ul {
  margin-left: 0;
}
.section #title h4 a {
  padding: .612em;
}

.section #navigation ul {
  font-size: 150%;
}

.section #details, .section #articles {
  height: 30em;
  overflow: hidden;
}
.section .scroller {
  position: relative;
	float: left;
	padding: 0;
	width: 100%;
	height: 30em;
}

#article #figcaption, #article #figure, #article #summary {
  width: 100%;
  float: left;
}
#article #details, #article.thumb #details {
  padding: 1.25em;
  text-align: left;
}
.section #article.thumb #figcaption, 
.collection #article.thumb #figcaption,
#article #figcaption  {
  text-align: left;
  margin-bottom: 1.25em;
  width: 100%;
}
#article.thumb #figure {
  margin: 0;
}

#info.section, #vendors.section {
  height: 30em;
}
#info.section #details, #info.section #articles,
#vendors.section #details, #vendors.section #articles {
  height: 24em;
}
#info.section .scroller, #vendors.section .scroller {
  height: 24em;
}
#info.section #article #figcaption {
  margin-bottom: 0;
}

#article #summary {
  width: auto;
  height: auto;
}
#info.section #article #summary {
  position: relative;
  left: 0;
  display: block;
}




.collection #navigation.collections {
  margin-bottom: 1.25em;
}
.collection #show-collections-link {
  padding: .612em 0;
}

.collection #article.thumb, .search #article.page {
  height: 30em;
  width: 100%;
}
.collection #article.thumb #figure {
  text-align: center;
}
.collection #article.thumb #figcaption {
  padding: 0;
}

.search #article.page #figcaption #title {
  margin: 0;
}
.search #article.page #figcaption #title h3 {
  padding: 0;
} 




#content.page #details #title {
  margin: 0;
}
#content.page #details #title h1 {
  padding: 0;
}
#content.page #details #summary {
  margin-top: .612em;
}



#aside {
  margin: 1.25em 0;
}


