.container {
  width: 90%;
}

.col-1, .col-2, .collection #article.col-1 {
  width: 48%;
  float: left;
  overflow: hidden;
}
.col-1, .collection #article.col-1 {
  margin-right: 2%;
}
.col-2 {
  margin-left: 2%;
}


#header #line {
  width: 83%;
}



.section #article.thumb #figure, .section #article.thumb #figcaption {
  margin: 1.25em;
}  
.section #article.thumb #figure {
  width: 37%; 
} 
.section #article.thumb #figcaption {
  width: 43%;
}
.section #article.thumb #figure {
  height: 10em;
}
#article.thumb #summary {
  font-size: small;
  height: 100%;
}
#article.thumb #price {
  font-size: small;
}


.collection #article.thumb, .search #article.page  {
  width: 45%;
  margin-right: 10%;
  height: 32.5em;
}
.collection #article.c-2, .collection #article.c-4, .collection #article.c-6, .collection #article.c-8, .collection #article.c-10 {
  margin-right: 0;
}


#sidebar #navigation.collections ul.inline-list {
  width: 100%;
}


.product input.button {
  margin: .612em 0;
}



.cart #info {
  top: -1.5em;
}


.search input.text {
  width: 68%;
}

.comment-form input.text {
  width: 80%;
} 
.comment-form textarea {
  width: 81%;
}

