.container {
  width: 90%;
}

.col-1, .col-2, .collection #article.col-1 {
  width: 48%;
  float: left;
  overflow: hidden;
}
.col-1, .collection #article.col-1 {
  margin-right: 2%;
}
.col-2 {
  margin-left: 2%;
}


#header #line {
  width: 83%;
}



.section #article.thumb #figure, .section #article.thumb #figcaption {
  margin: 1.25em;
}  
.section #article.thumb #figure {
  width: 37%; 
} 
.section #article.thumb #figcaption {
  width: 43%;
}
.section #article.thumb #figure {
  height: 10em;
}
#article.thumb #summary {
  font-size: small;
  height: 100%;
}
#article.thumb #price {
  font-size: small;
}


.collection #article.thumb, .search #article.page  {
  width: 45%;
  margin-right: 10%;
  height: 32.5em;
}
.collection #article.c-2, .collection #article.c-4, .collection #article.c-6, .collection #article.c-8, .collection #article.c-10 {
  margin-right: 0;
}



.product input.button {
  margin: .612em 0;
}

/* Typograph: traditional, h1 = 2em */
.product #summary h1 { font-size:2em; padding:1.25em 0; }
.product #summary h2 { font-size:1.75em; padding:1.51786em 0; }
.product #summary h3 { font-size:1.5em; padding:1.45833em 0; }
.product #summary h1, .product #summary h2, .product #summary h3 { 
  margin-top: 0; 
  margin-bottom: 0;
  padding: .625em 0; 
}




.article #sidebar {
  margin-top: 2.5em;
}


.cart #info {
  top: -1.5em;
}


.search input.text {
  width: 63%;
}

