/*
- Scrol Theme for Shopify
- by Shopledge (www.shopledge.com)
- created April 2011
- version 1.0


*/

/* Colors:

- background: CCC9B6
  - variants 4d4a36 (-15)
  - notice: D4C97E
  - border/pagination: B2B09F (kuler / shades)
  - background: D9D6C1 (kuler / shades)
  - color: #4c4b44
    - shadow: dbdad6 (+17)
  - link hover: #111
    - shadow: #ddd 
  - summary link: dbdad6
    - shadow: none
- button: A2CCE9
  - variants: bddbef (+2, shadow), 87bde3 (-2, gradient), 79b5df (-3, border), 
- sales: F25E18
  - variants: f47438 (+2), dc4f0c (-2), cc490b (-3), FCD9C9 (+11, text), BC430B (-4, text-shadow)
- collections:
  - collection: B6B66C;
    - success: 85C36A
  - product types: B6836C
    - error: C36C6A


*/



body {
  background: url(background.jpg) repeat scroll #CCC9B6;
  color: #4c4b44;
}
.container {
  text-shadow: 1px 1px #dbdad6; /*if added to body a scrollbar is inserted */
}

a, a:hover {
  text-decoration: none;
}
a {
  color: #4c4b44;
  text-shadow: 1px 1px #dbdad6;
}
a:hover {
  color: #111;
  text-shadow: 1px 1px #ddd;
}



/* Messages */
.notice {
  background: #D4C97E;
}
.success {
  background: #85C36A;
}
.error {
  background: #C36C6A;
}
.notice a, .notice a:hover {
  text-decoration: underline;
}


/* Forms */

input, textarea, a.button {
  -moz-box-shadow: 0 1px 0 0 #bddbef inset;
  -webkit-box-shadow: 0 1px 0 0 #bddbef inset;
  box-shadow: 0 1px 0 0 #bddbef inset;
  background-color: #A2CCE9;
  background: -moz-linear-gradient(center top , #A2CCE9 5%, #87bde3 100%) repeat scroll 0 0 #A2CCE9;
  background: -webkit-linear-gradient(top, #A2CCE9, #87bde3) repeat scroll 0 0 #A2CCE9;
  border: 1px solid #79b5df;
  color: #4C4C4C !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #bddbef;
}
input.button:hover, a.button:hover {
  background: -moz-linear-gradient(center top , #87bde3 5%, #A2CCE9 100%) repeat scroll 0 0 #87bde3;
  background: -webkit-linear-gradient(top, #87bde3, #A2CCE9) repeat scroll 0 0 #A2CCE9;
}
input.text, textarea {
  background: none repeat scroll 0 0 #DEDBD3;
}


#sale input, #sale textarea, #sale a.button {
  -moz-box-shadow: 0 1px 0 0 #f47438 inset;
  -webkit-box-shadow: 0 1px 0 0 #f47438 inset;
  box-shadow: 0 1px 0 0 #f47438 inset;
  background-color: #F25E18;
  background: -moz-linear-gradient(center top , #F25E18 5%, #dc4f0c 100%) repeat scroll 0 0 #F25E18;
  background: -webkit-linear-gradient(top, #F25E18, #dc4f0c) repeat scroll 0 0 #F25E18;
  border: 1px solid #cc490b;
  color: #FCD9C9 !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #BC430B;
}
#sale input.button:hover, #sale a.button:hover {
  background: -moz-linear-gradient(center top , #dc4f0c 5%, #F25E18 100%) repeat scroll 0 0 #dc4f0c;
  background: -webkit-linear-gradient(top, #dc4f0c, #F25E18) repeat scroll 0 0 #dc4f0c;
}



/* Header */

#header #line {
  border-bottom: 2px dotted;
}
#header #shopping {
  background: #4c4b44;  
  color: #dbdad6;
  text-shadow: none;
}
#header #shopping a, #header #shopping a:visited {
  color: #dbdad6;
  text-shadow: none;
}




/* Frontpage */

.section #title h4 a {
  background: #CCC9B6;
}
#vendors.section #article #summary {
  background: #ccc9b6;
  color: #4c4b44;
}
#vendors.section #article li a, #vendors.section #article li a:visited {
  background: #dbdad6;
  color: #4c4b44;
  text-decoration: none;
}

.section #navigation li a {
  color: #999;
}
.section #navigation li.active a {
  color: #666;
}




/* Articles */

#article, #aside, #vendors #articles, #info #articles {
  background: #CCC9B6;
}
#article #figure {
  background: #fff;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;  
}
#article #summary {
  background: #4c4b44;
  color: #dbdad6;
  text-shadow: none;
}
#summary a, #summary a.visited  {
  text-decoration: underline;
  color: #dbdad6;
  text-shadow: none;
}




/* Collection */

#navigation.collections li, #navigation.collections li a {
  text-shadow: none;
}
#navigation.collections .title, #navigation.collections .description {
  background: #4c4b44;
  color: #CCC9B6;
}
#navigation.collections .collections {
  background: #B6B66C;
}
#navigation.collections .types {
  background: #B6836C;
}
#navigation.collections .vendors {
  background: #7694A9;
}
#navigation.collections .tags {
  background: #CCC9B6;
}
#navigation.collections .tags a {
  color: #4d4a36;
  text-shadow: 1px 1px 1px #f9f9f9;
}


/* Pagination */
#paginate span {
  background: #CCC9B6;
  border-bottom: 1px solid #B2B09F;
}



/* Sidebar */

#aside a, #aside a:visited {
  border-bottom: 1px dotted;
}


/* Porduct */
.product #article #thumbs {
  background: #dbdad6;
}
.product #article #thumbs img {
  border: .36em solid #dbdad6;
}




/* Blog Article */


.blog #article #meta {
  background: #dbdad6;
}
#article #meta a, #article #meta a:visited {
  border-bottom: 1px dotted;
}
ul.comments li {
  background: #dbdad6;
}


/* Cart */

.cart #image {
  background: #fff;
}







