.container {
  width: 90%;
}

.col-1, .col-2, .collection #article.col-1 {
  width: 45%;
  float: left;
  overflow: hidden;
}
.col-1, .collection #article.col-1 {
  margin-right: 5%;
}
.col-2 {
  margin-left: 5%;
}


#header #line {
  width: 88%;
}


.section #article.thumb #figure, .section #article.thumb #figcaption {
  margin: 1.25em; /* 3.473% */
  width: 42%; /* 1 col = 42 + 2*3.473 = 48.946% */
} 

.collection #article.thumb, .search #article.page {
  width: 23%;
  margin-right: 2.66%;
}
.collection #article.c-4, .collection #article.c-8 {
  margin-right: 0;
}


#sidebar #navigation.collections ul.inline-list {
  width: 100%;
}


.product select {
  margin-right: 0;
}
.product select {
  width: 100%;
}
.product input.button {
  margin: .612em 0;
}
#article #search input.text {
  width: 73%;
}
#search ul {
  margin-bottom: 1.25em;
  list-style-type: none;
  margin-left: 0;
}


.cart #info {
  top: -1.5em;
}

