.container {
  width: 90%;
  max-width: 120em; /* 1920px */
}

.fullscreen {
  max-width: 120em;
}
.showgrid-vertical .col {
  width: 13.334em; 
}
.grid9 {
  width: 80em; 
}
.grid9-left {
  margin-left: 13.334em;
}
.grid9-right {
  margin-right: 13.334em;
}

.startpage #featured .col-1, .startpage #featured .col-2  {
  width: 40em;
}
.col-3 {
  width: 93.334em;
}

