!!!
%head
  %title Startpage
  
  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  
  %link{:href => 'base.css', :media => 'screen', :type => 'text/css', :rel => 'stylesheet', :charset => 'utf-8'}
  %link{:href => 'layout.css', :media => 'screen', :type => 'text/css', :rel => 'stylesheet', :charset => 'utf-8'}
  %link{:href => 'theme.css', :media => 'screen', :type => 'text/css', :rel => 'stylesheet', :charset => 'utf-8'}
  
  %link{:href => 'mobile.css', :media => 'screen and (max-width: 480px)', :type => 'text/css', :rel => 'stylesheet', :charset => 'utf-8'}
  %link{:href => 'tablet.css', :media => 'screen and (min-width: 481px) and (max-width: 1024px)', :type => 'text/css', :rel => 'stylesheet', :charset => 'utf-8'}
  %link{:href => 'large.css', :media => 'screen and (min-width: 1441px)', :type => 'text/css', :rel => 'stylesheet', :charset => 'utf-8'}

%body.fullscreen
  %div{:class => 'grid9 grid9-left'}
    #header
      logo
      strapline
      main menu
      shopping cart
      shopping info
    #content.startpage
      #featured
        #info.col-1
          featured info
        #image.col-2
          image
      #latest
        #title.col-3
          latest title
        #items
          items
      #sales
        #items
          sales items
    #footer
      footer
      
  .showgrid
    .showgrid-vertical
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
        
    .showgrid-horizontal
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp; 
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
       
          
