.container {
  width: 90%;
  max-width: 64em; /* 1024px */
}

.fullscreen {
  max-width: 64em;
}
.grid9 {
  width: 42.667em;   
}
.showgrid-vertical .col {
  width: 7.112em;
}
.grid9-left {
  margin-left: 7.112em;
  margin-right: auto;
}
.grid9-right {
  margin-right: 7.112em;
  margin-left: auto;
}




