{% if linklists.info.links != blank %}
  {% if settings.locale == "enabled" %}
    {% assign s = settings.locale_more_info %}
  {% else %}
    {% assign s = "More information" %}
  {% endif %} 
  <h4>{{ s }}</h4>
  <ul>
  {% for link in linklists.info.links %}
    <li><a href="{{ link.object.url }}" title="{{ link.object.title }}">{{ link.object.title }}</a></li>
  {% endfor %}
  </ul>
{% endif %}
