<div id="article" class="col col-1">
  <div id="details">
    {% if settings.snippets == "enabled" %}
      {% include 'page_not_found' %}
    {% else %}
      <h1>Page Not Found</h1>
      <div id="summary">
        <p>The page you are looking for is not found.</p>
        <p>Either the page address was wrong, or, the page itself was moved / removed by the site administrator.</p>
        <p>Please try the <strong>search</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p>
      </div> 
    {% endif %} 
    
    <div id="search">
      <h3>
      {% if settings.locale == "enabled" %}
        {{ settings.locale_search }}
        {% assign s = settings.locale_search %}
      {% else %}
        Search
        {% assign s = "Search" %}
      {% endif %} 
      </h3>
      <ul class="search block">        
        <li>
          <form action="/search" method="get">
            <input class="text" type="text" name="q" /> 
            <input class="button" type="submit" value="{{ s }}"  />
          </form>
        </li>
      </ul>
    </div>    
  </div>
</div>  

<div id="sidebar" class="col col-2">   
  <div id="navigation" class="collections block">
    
    {% include '_navigation.collections' %}
    
  </div>  
</div>
