  body {
    font-size: 250%;
  }
  h1 {
    margin: 1em 0;
  }
  .container, .col-1, .col-2 {
    float: none !important;
    width: auto !important; 
    margin: 2% !important;   
  }
  .box {
    padding: 1em !important;
  }
  #header #navigation {    
    margin: 0 5% 10% !important;
  } 
  #index #info #featured {
    margin: 10% 0 !important; 
  } 
  #index #info #featured .image {
    width: 30% !important;
  }
  #index #info #featured .info {
    width: 60% !important;
  }
  .col-2 {
    margin-top: 10% !important;
  }
  .index #featured #item {
    width: 100% !important;
    margin-right: 0 !important;
    height: auto !important;
  }
  .index #featured #item .col-1 {
    width: 80% !important;
    margin-right: 20% !important;
  }
  .index #featured #item .col-2 {
    width: 100% !important;
    margin: 0 0 5% !important;
  }   
  .index #sale #item {
    font-size: 1em !important;
    width: 100% !important;
    float: left !important;
  }
  .index #sale #item .col-1 {
    width: 30% !important;
    margin-right: 10% !important;
    float: left !important;
  }
  .index #sale #item .col-2 {
    width: 55% !important; 
    float: left !important;   
  }
  
  
  .collection #navigation h6 {
    margin-bottom: 0 !important;
  }
  .collection #items #item {
    border-bottom: none !important;
  }
  .collection #items #item {
    margin-bottom: 3em !important;
    padding-bottom: none !important;
  }
    
  .page .col-2 {
    margin: 0 0 15% !important;
  }
  #product #product-select select, #product #product-select input {
    width: 75% !important;
  }

  input, textarea, select {	
    font-size: 1em !important;
  }

