#item.product, .subscribe-twitter {
  width: 20%;
  margin-right: 6.66%;
  float: left;
}

.index #latest #item.c-4, .index #latest #item.c-8,
.index #latest #item.c-12, .index #latest #item.c-16 {
  margin-right: 0;
}

.index #sales #item.c-3, .index #sales #item.c-6,
.index #sales #item.c-9, .index #sales #item.c-12,
.index #sales #item.c-15, .index #sales #item.c-18 {
  margin-right: 0;
}
.index #sales #item.c-4, .index #sales #item.c-7,
.index #sales #item.c-10, .index #sales #item.c-13,
.index #sales #item.c-15, .index #sales #item.c-18 {
  margin-left: 26.66%;
}

.index #more {
  float: left;
  text-align: left;
}



.collection #item.product {
  width: 28%;
  margin: 0 5% 1.25em 0;
  float: left;
  margin-bottom: 3.75em;
}
