#item.product, .subscribe-twitter {
  width: 20%;
  margin-right: 6.66%;
  float: left;
}
.index #item.c-4, .index #item.c-8,
.product #item.c-4, .product #item.c-8  {
  margin-right: 0;
}

.collection #item.product {
  width: 28%;
  margin: 0 5% 1.25em 0;
  float: left;
  margin-bottom: 3.75em;
}
