
.container {
  margin: 0 .61em;
  background: none;
}

.container, 
.index #intro .col-1, .index #intro .col-2,
#item.product, .subscribe-twitter,
#ecosystem .col-1, #ecosystem .col-2,
#follow .col, 
#info .col-1, #info .col-2,
.collection .col-1, .collection .col-2,
.collection #item.product {
  width: auto;  
  float: none;
}



.mobile {
  display: block;
}
.desktop {
  display: none;
}


/* Header */

#header #logo, #header #navigation {
  width: 100%;
}

#header .logo {
  margin-bottom: 0em;
} 
.menu #item {
  padding-left: 0;
  margin-right: 0;
}
.menu #shopping-menu {
  position: absolute;
  float: right;
  top: 0;
  right: 0;  
}
.menu #item.cart {
  margin-right: 0 !important;
}
.menu #item.cart .quantity {
  border-bottom: none;
}
.menu .cart .quantity, .menu .cart .price {
  float: left;
  padding-left: .31em;
}
.menu .triangle {
  display: none;
}


/* Frontpage */

.index #featured {
  height: auto;
}
.index .section .sub  {
  height: auto;
}
.index #featured #add-to-cart {
  float: left;
  width: 100%;
  margin: 0;
}
.index #featured .nav {
  float: left;
  width: 100%;
  margin: 1.25em 0;
}



/* Latest */

#latest #hot {
  margin-bottom: 0;
}
#call-for-subscribe {
  margin: 0;
  float: left;
}
#item.product {
  margin:  0 5% 5em 0;
  background: none;
  -moz-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
}
#item.product .image img {
  height: auto;
  max-height: 20em;
}
#item.product #add-to-cart {
  display: block;
  margin: .62em 0 2.75em;
}
#item.product .title {
  -moz-box-shadow: 0px 3px 10px #ddd;
  -khtml-box-shadow: 0px 3px 10px #ddd;
  -webkit-box-shadow: 0px 3px 10px #ddd;  
}
#sales #item.clean {
  height: auto;
}


/* Collection */

.collection #item.product {
  height: 28em;
  background: #f3f3f3;
  -moz-box-shadow: 0px 3px 10px #ddd;
  -khtml-box-shadow: 0px 3px 10px #ddd;
  -webkit-box-shadow: 0px 3px 10px #ddd; 
}
.collection #item.product .title {
  -moz-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
}




/* Eco */

#ecosystem-top.triangle-top {
  left: 70%;
}
#follow .counter {
  height: 2em;
}
#ecosystem .form input.text {
  width: 80%;
}


/* Product */

.product #info #description {
  margin: 0;
}
.product #thumbs img {
  margin-bottom: 0;
}
.product #thumbs {
  padding: 1.25em 0 0;
}
#sidebar {
  margin-bottom: 3.75em;
}
.product #sidebar input, .product #sidebar select {
  width: 100%;
}


/* Cart */

.cart ul {
  margin: 0;
}
.cart #info li {
  width: auto;
  position: static;
  margin: .31em 0;
}
.cart #info li.image, .cart #info li.info, .cart #info li.quantity, .cart #info li.remove {
  width: 100%;
}
.cart #info li.lineprice {
  display: none !important;
}
.cart #info #checkout input {
  float: left;
  margin-top: 1.25em; 
}
.cart #gotocheckout {
  float: left;
  width: 100%;
}
.cart #info img {
  max-width: none;
  max-height: none;
}



/* Blog */

.comments form input, .comments form textarea, .comments form input.button  {
  width: 66%;
}




