body {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
body {
    background: url("simple_stripe.png") repeat scroll 0 0 #e6e2d9;
    color: #111;
}


a, a:visited, a:hover, *:link, *:visited {
    background: none repeat scroll 0 0 transparent;
    color: #111;
    text-decoration: none;
}
a, a:visited, a:hover, *:link, *:visited {
    background: none repeat scroll 0 0 transparent;
    color: #111;
    text-decoration: none;
}
a.underline {
    text-decoration: underline !important;
}
.text a, .text a:visited, .text *:link, .text *:visited {
    color: #111;
    padding: 0 0.32em;
    text-decoration: underline;
}
.text a:hover, .text a:focus, .text a:active {
    background: none repeat scroll 0 0 #111;
    color: #F9F9F9 !important;
    text-decoration: none;
}
a.title {
    text-decoration: none !important;
}
.note, .note a {
    color: #827A64;
    text-decoration: none;
}
.note a:hover {
    color: #111;
}


input, textarea, a.button {
    -moz-box-shadow: 0 1px 0 0 #BAB291 inset;
    background: -moz-linear-gradient(center top , #C0BBAD 5%, #B1AB9A 100%) repeat scroll 0 0 #C0BBAD;
    border: 1px solid #C0BBAD;
    color: #4C4C4C !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 #DDDDDD;
}
input.button:hover, a.button:hover {
    background: -moz-linear-gradient(center top , #B1AB9A 5%, #C0BBAD 100%) repeat scroll 0 0 #B1AB9A;
}
input.text, textarea {
    background: none repeat scroll 0 0 #DEDBD3;
}


#header {
    background: none repeat scroll 0 0 #4a4742;
    border-bottom: 1px solid #4F4442;
}
#header a, #header a:visited, #footer a, #footer a:visited, .menu .search {
    color: #BF8326;
    text-decoration: none;
}
.menu #item.cart {
    background: none repeat scroll 0 0 #F25E18 !important;
    color: #4a4742;
}
.menu #item.cart .quantity {
    border-bottom: 1px dotted;
}
.menu #item.cart a {
    color: #f9f9f9;
}
.triangle-left {
    border-color: transparent #cac1b2 transparent transparent;
}


.index #featured .triangle-bottom {
    border-color: #BF8326 transparent transparent;
}
.index #featured .triangle-top {
    border-color: transparent transparent #111;
}
.index #featured a:hover .triangle-bottom {
    border-color: #F25E18 transparent transparent;
}
.index #featured a:hover .triangle-top {
    border-color: transparent transparent #F25E18;
}
.index #featured .read-more a {
    color: #4C4C4C;
}
.index #featured .image img {
  -moz-box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.698), 0 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.698), 0 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.698), 0 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background: #fff;
}



#latest {
    background: none repeat scroll 0 0 #DFDBD0;
    color: #111;
}
#latest-top.triangle-bottom {
    border-color: #e6e2d9 transparent transparent;
}
#latest .highlight, .collection .highlight {
    background: none repeat scroll 0 0 #cac4b2;
}
#latest #hot {
    color: #F25E18;
    text-shadow: 1px 1px 2px none;
}
#item.product {
    -moz-box-shadow: 0 3px 10px none;
    background: none repeat scroll 0 0 #fff;
}
#item.product #figcaption {
  background: #d1cbbc;  
}
#item.hover {
    -moz-box-shadow: 0 0.5em #cac4b2;
}
#item.product .title {
  background: #d8d3c6;
}
#item.product .image {
    background: none repeat scroll 0 0 #FFFFFF;
}

#more {
    text-shadow: 1px 1px 2px none;
}



#sales {
    background: none repeat scroll 0 0 #DFDBD0;
}
#sales .sale {
    background: none repeat scroll 0 0 #F25E18;
    color: #e6e2d9;
}
#sales .sale a, #sales .sale a:hover {
    color: #e6e2d9;
}
#sales #price {
  color: #F25E18;
}
#sales #item.product #add-to-cart .sale {
    background: none repeat scroll 0 0 transparent;
    color: #F25E18;
}

#sidebar {
  background: #cac1b2;
}
#sidebar img, .product #product-image {
    border: 1px solid #BCB19E;
    -moz-box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.698), 0 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.698), 0 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.698), 0 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#sidebar .accordion h4 {
    border-bottom: 1px solid #BCB19E;
}
#sidebar ul.list li {
    border-bottom: 1px solid #BCB19E;
}
#sidebar ul.list li a, #sidebar ul.list li a:visited {
    color: #3D3D3B;
    text-decoration: none;
}
#sidebar ul.list li.active {
    background: none repeat scroll 0 0 #D1CBBC;
}
#sidebar .date {
    color: #666;
}
.cart #info ul {
    border-bottom: 1px solid #BCB19E;
}


#eco.product {
    background: none repeat scroll 0 0 #DFDBD0;
}

#ecosystem {
    background: none repeat scroll 0 0 #CAC1B2;
    color: #111;
}
#ecosystem .form input.text {
}
#ecosystem-top.triangle-top {
    border-color: transparent transparent #CAC1B2;
}
#ecosystem ul.list li {
    border-bottom: 1px solid #bcb19e;
}
#ecosystem .date {
    color: #666;
}


#footer {
    background: none repeat scroll 0 0 #4a4742;
    border-top: 1px solid #4F4442;
}


