/* Theme

- background: #eee;
  - grays: light > dark: #f9f9f9, #f3f3f3, #dadada, #ddd, #ccc, #a3a3a0, #777, #4c4c4c
  - black: #3d3d3b  > 2d2d2d   
  - highlight/orange: #ff3300
  - highlight/yellow: #C60017  
*/



body {
  background: #eee url(stripe.png);
  color: #3d3d3b;
}



/* Links */


/* Overwrite browser default styles for links */
a, a:visited, a:hover, :link, :visited {
  text-decoration: none; 
  color: #3d3d3b;
  background: none;
}

/* Forcing highlight when necessary */
a.underline {
  text-decoration: underline !important;
}

/* Links for texts */
.text a, .text a:visited, .text :link, .text :visited {
  color: #3d3d3b;
  text-decoration: underline;
  padding: 0 .32em;
}
.text a:hover, .text a:focus, .text a:active {
  color: #f9f9f9 !important;
  background: #3d3d3b;
  text-decoration: none;
}
.text ul {
 margin: 1.25em !important;
 list-style-type: disc !important;
}
.text ul li {
  margin-bottom: .62em 0 !important;
}


a.read-more {
  color: #a3a3a0 !important;
  text-decoration: none !important;
}
/* notes, highlighting texts */
.note, .note a {
  color: #a3a3a0;
  text-decoration: none;
  font-size: small;
  text-shadow: 1px 1px 2px #ddd;
  font-style: italic;
  padding: .31em
}
.note a:hover {
  color: #3d3d3b; 
}




/* Common */

.button {
  background: #f3f3f3 !important;
  padding: .62em 1.25em;
}

.missing {
  background: lightyellow;
  padding: 1.25em;
  margin: 1.25em;
}





/* Typography for texts */


.text h1, .text h2, .text h3 {
  margin: 1.25em 0;
}



/* Header */


#header {
  background: #3d3d3b;
  border-bottom: 1px solid #2d2d2d;
}
#header a, #header a:visited, #footer a, #footer a:visited, .menu .search {
  color: #f9f9f9;
  text-decoration: none;
}
.menu #item.cart {
  background: #C60017 !important;
  color: #f9f9f9;    
}
.menu #item.cart .quantity {
  border-bottom: 1px dotted #f9f9f9;
}
.triangle-left {
  border-color: transparent #3d3d3b transparent transparent;  
}




/* Index */

.index #featured #add-to-cart.hover, .index #featured #add-to-cart.hover a {
  background: #C60017 !important;
  color: #f9f9f9 !important;
}
.index #featured .triangle-bottom {
  border-color: #DDDDDD transparent transparent;  
}
.index #featured .triangle-top {
  border-color: transparent transparent #DDDDDD;  
}
.index #featured a .triangle-bottom {
  border-color: #bbb transparent transparent;
}
.index #featured a .triangle-top {
  border-color: transparent transparent #bbb;
}
.index #featured a:hover .triangle-bottom {
  border-color: #3d3d3b transparent transparent;
}
.index #featured a:hover .triangle-top {
  border-color: transparent transparent #3d3d3b;
}




/* Latest */

#latest {
  background: #eee;
}
#latest-top.triangle-bottom {
  border-color: #fff transparent transparent;  
}
#latest .highlight, .collection .highlight {
  background: #ffb200;
}
#latest #hot {
  text-shadow: 1px 1px 2px #ddd;
  color: #3d3d3b;  
}
#item.product {  
  background: #f3f3f3;
  -moz-box-shadow: 0px 3px 10px #ddd;
  -khtml-box-shadow: 0px 3px 10px #ddd;
  -webkit-box-shadow: 0px 3px 10px #ddd;
}
#item.hover {  
  -moz-box-shadow: 0px 1px 7px #4c4c4c;
  -khtml-box-shadow: 0px 1px 7px #4c4c4c;
  -webkit-box-shadow: 0px 1px 7px #4c4c4c;
}
#item.product .image {
  background: #fff;  
}
#more {
  text-shadow: 1px 1px 2px #ddd;
}



/* Sales */

#sales {
  background: #eee;
}
#sales .sale  {
  color: #f9f9f9;  
  background: #C60017;
}
#sales .sale a, #sales .sale a:hover {
  color: #f9f9f9;
}
#sales .meta .price {
  color: #C60017;
}
#sales #item.hover .meta .price {
  color: #fff;
  background: #C60017;
}
#sales #item.product #add-to-cart .sale {
  background: none;
  color: #C60017;
}


/* Ecosystem + Footer */


#eco.product {
  background: #eee;
}
#eco .triangle-left {
  border-color: transparent #3d3d3b transparent transparent;  
}


#ecosystem {
  background: #dadada;
}
#ecosystem .form input.text {
  color: #4c4c4c;
}
#ecosystem-top.triangle-top {
  border-color: transparent transparent #dadada;  
}
#ecosystem ul.list li {
  border-bottom: 1px solid #ccc;
}
#ecosystem .date {
  color: #777;
}

#footer {
  background: #3d3d3b;
  border-top: 1px solid #2d2d2d; 
}




/* Product */

#sidebar {
  background: #f3f3f3;
}
#sidebar img, .product #product-image img  {
  border: 1px solid #ededed; 
}
#sidebar .accordion h4 {
  border-bottom: 1px solid #ccc;
}
#sidebar ul.list li {
  border-bottom: 1px solid #ededed;
}
#sidebar ul.list li a, #sidebar ul.list li a:visited {
  text-decoration: none;
  color: #3d3d3b;
}
#sidebar ul.list li.active {
  background: #dadada;
}
#sidebar .date {
  color: #9d9d9d;
}


/* Checkout */

.cart #info ul {
  border-bottom: 1px solid #ededed;
}


/* Collection */


.collection #navigation #tags a, .collection #navigation #tags a:visited {
  text-decoration: none;
}
.collection #navigation #tags a {
  color: #4c4c4c;
}
.collection #navigation #tags a:visited {
  color: #9d9d9d;
}

#paginate a, #paginate a:visited {
  text-decoration: none;
  color: #4c4c4c;
}
#paginate .current, #paginate .deco {
  background: #a3a3a0;
  color: #f9f9f9;
}




/* Blog */

.article .meta {
  background: #f9f9f9;
}
#comments li {
  border-bottom: 1px solid #ededed;
}

