body {
  background: #c0bbad url(custom_stripe.png);
  color: #3d3d3b;
}
a, a:visited, a:hover, :link, :visited {
  color: #3d3d3b;
}
.text a, .text a:visited, .text :link, .text :visited {
  color: #3d3d3b;
  background: ;
}
.text a:hover, .text a:focus, .text a:active {
  color: #f9f9f9 !important;
  background: #3d3d3b;
}


#header {
  background: #4f4442;
}
#header a, #header a:visited, .menu .search {
  color: #0593f2;
  text-decoration: none;
}

#header #logo img {
  max-width: 120;
  width: 120;
  height: auto;
}

.menu #item.cart {
  background: #abf205 !important;
  color: #4f4442; 
}
.menu #item.cart .quantity {
  border-bottom: 1px dotted #4f4442;
}
.menu #item.cart a {
  color: #4f4442; 
}
.menu .triangle-left {
  border-color: transparent #4f4442 transparent transparent;
}



.index #intro a, .collection #navigation a, #info a {
  color: #3d3d3b;
}
.index #featured #scroller li.inactive {
  color: #eeeeee;
}
.index #featured #scroller li.active {
  color: #3d3d3b;
}

#latest-top.triangle-bottom {
  border-color: #a39b87 transparent transparent;
}


#latest, #sales {
  background: #c0bbad;
  color: #3d3d3b;
}
#latest .highlight {
  background: #f9dd07;
}
.note, .note a {
  color: #a3a3a0;
}
#item.product {
  -moz-box-shadow: 0 3px 10px #a39b88;
  -khtml-box-shadow: 0px 3px 10px #a39b88;
  -webkit-box-shadow: 0px 3px 10px #a39b88;
  background: none repeat scroll 0 0 #cdc7b8;
}
#item.hover {
  -moz-box-shadow: 0px 1px 7px #4c4c4c;
  -khtml-box-shadow: 0px 1px 7px #4c4c4c;
  -webkit-box-shadow: 0px 1px 7px #4c4c4c;
}
#item.product a {
  color: ;
}


#sale .sale {
  background: #bf2f17;
  color: #fcf3fb;
}
#sales #item .meta .price {
  color: #bf2f17;
}
#sales #item.hover .meta .price {
  color: #fcf3fb;
  background: #bf2f17;
}
#sales #item .meta .price {
  color: #bf2f17;
}
#sales #item.hover .meta .price {
  color:#fcf3fb;
  background: #bf2f17;
}



#ecosystem {
  background: #cdc7b8;
  color: #3d3d3b;
}
#ecosystem-top.triangle-top {
  border-color: transparent transparent #cdc7b8;
}
.date {
  color: #9d9d9d;
}
#ecosystem .list li {
  border-bottom: 1px solid #c0bbad
}


#footer {
  background: #4f4442;
}
#footer a, #footer a:visited {
  color: #0593f2;
}


.page .title {
  background: ;
  color: ;
}
.product #product-image {
  background: #ffffff;
}
#product #product-image img {
  border: none;
}


#taxonomies, #sidebar, #shopping, .page #content, #product #description, .search #current-collection,
.collection #current-collection, .blog #content, .article #content  {
  background: #b0a792;
  color: #3d3d3b;
}

#shopping #thumbs, #shopping #meta {
  border-top: 1px solid #bab291;
}
.accordion h4, ul.list li, .cart table tr.second td {
  border-bottom: 1px solid #bab291 !important;
}
ul.list li.active, .collection #current-collection  .active,.collection #navigation #tags a:visited {
  background: #bab291;
}

#paginate .current {
  background: #bab291;
  color: #3d3d3b;
}
#paginate a, #paginate a:visited {
  background: #a39b87;
  color: #3d3d3b;
}



#eco.product {
  background: #c0bbad;
}


.blog .date, .article .date {
  color: #706b5d
}
.article .meta, .comment-form input, .comment-form textarea {
  background: #c0bbad
}

    



