<div id="article">
  <div id="details" class="col col-1">
    {% if settings.snippets == "enabled" %}
      {% include 'page_not_found' %}        
    {% else %}
      <h1>Page Not Found</h1>
      <div id="summary">
        <p>The page you are looking for is not found.</p>
        <p>Either the page address was wrong, or, the page itself was moved / removed by the site administrator.</p>
        <p>Please try the <strong>search</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p>
      </div> 
    {% endif %} 
    
    search for here ....     
  </div>
  
  <div id="aside" class="col col-2">
  sidebar ...
  </div>
</div>  

