<div id="article">
  <div id="details" class="col col-1">
    <h1>
      <a href="{{ page.url }}" title="{{ page.title | escape }}">{{ page.title | escape }}</a>
    </h1>    
    <div id="summary">
      {{ page.content }}
    </div>
  </div>
  
  <div id="aside" class="col col-2">
  sidebar ...
  </div>
</div>  
    
