/*
  - width: auto
  - grid column width: 64em/9 = 7.112em
  - grid params:
  -   witdh: 6 cols = 6x7.112 = 42.667em
*/

.fullscreen, .container, .container-left, .container-right {
  width: auto;
  float: none;
  margin: 0;
}

.container {
  padding: 0 1.25em;
}
.item, .item1 {
  width: 100%;
}
img {
  width: 100%;
}



.container {
  position: none;
  top: 0;
}
