
body {
  background: url(goa.jpg) repeat scroll #ACF205;
  color: #111;
  font-family: 'Orbitron', arial, serif;
}


a, a:hover {
  color: #111;
  text-decoration: none;
}





input, textarea, a.button {
  background: #1D6AF4;
  color: #E7E6C7;
}





#header #logo h2 {
  border-bottom: 1px dotted;
}
#header #shopping {
  background: #111;
}
#header #shopping a, #header #shopping a:visited, #header #shopping a:hover {
  color: #09F907;
}



#article, #aside, #vendors #articles, #info #articles {
  background: #DAF698;
}
#article #figure {
  background: #fff;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;  
}
#article #summary {
  background: #697649;
  color: #DAF698;
}
#summary a, #summary a.visited  {
  text-decoration: underline;  
}



.section #title h4 a {
  background: #18BF17; /* F9DE07 */
  color: #DAF698;
}



#navigation.collections .collections {
  background: #FB8886;
}


