/*

background: EFE4BD (Kuler Japanese Garden)
  - color, link: 2B2922 
  - button: A39770
    - variants: 93865e (-2, gradient), 887d58 (-3, border, shadow), (EFE4BD ,text) 
  - sales button: A32500 
    - variants: c52d00 (+2), 811d00 (-2), 701900 (-3, border), 5f1600 (-4, text-shadow)
article background: EFE4CE
  - collection backgrounds: 

*/




body {
  background: url(japanese.jpg) repeat scroll #EFE4BD;
  color: #2B2922;
}


a, a:hover {
  color: #2B2922;
  text-decoration: none;
}


input, textarea, a.button {
  -moz-box-shadow: 0 1px 0 0 #b0a685 inset;
  -webkit-box-shadow: 0 1px 0 0 #b0a685 inset;
  box-shadow: 0 1px 0 0 #b0a685 inset;
  background-color: #A39770;
  background: -moz-linear-gradient(center top , #A39770 5%, #93865e 100%) repeat scroll 0 0 #A39770;
  background: -webkit-linear-gradient(top, #A39770, #93865e) repeat scroll 0 0 #A39770;
  border: 1px solid #887d58;
  color: #EFE4BD !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #887D58;
}
input.button:hover, a.button:hover {
  background: -moz-linear-gradient(center top , #93865e 5%, #A39770 100%) repeat scroll 0 0 #93865e;
  background: -webkit-linear-gradient(top, #93865e, #A39770) repeat scroll 0 0 #93865e;
}
input.text, textarea {
  background: none repeat scroll 0 0 #f9f9f9;
}


#sale input, #sale textarea, #sale a.button {
  -moz-box-shadow: 0 1px 0 0 #c52d00 inset;
  -webkit-box-shadow: 0 1px 0 0 #c52d00 inset;
  box-shadow: 0 1px 0 0 #c52d00 inset;
  background-color: #FAAFAF;
  background: -moz-linear-gradient(center top , #A32500 5%, #811d00 100%) repeat scroll 0 0 #A32500;
  border: 1px solid #701900;
  color: #EFE4BD !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #5f1600;
}
#sale input.button:hover, #sale a.button:hover {
  background: -moz-linear-gradient(center top , #811d00 5%, #A32500 100%) repeat scroll 0 0 #811d00;
  background: -webkit-linear-gradient(top, #811d00, #A32500) repeat scroll 0 0 #811d00;
}




#header #logo h2 {
  border-bottom: 2px dotted;
}
#header #shopping {
  background: #2B2922;  
  color: #f9f9f9;
}
#header #shopping a, #header #shopping a:visited {
  color: #f9f9f9;
}
#header #shopping #quantity {
  border-bottom: 1px dotted;
}



#article, #aside, #vendors #articles, #info #articles {
  background: #EFE4CE;
}
#article #figure {
  background: #fff;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;  
}
#article #summary {
  background: #1c1c1c;
  color: #f9f9f9;
}
#summary a, #summary a.visited  {
  text-decoration: underline;
  color: #f9f9f9;
}
.section #navigation li a {
  color: #DFDFDF;
}
.section #navigation li.active a {
  color: #1c1c1c;
}



#navigation.collections .title, #navigation.collections .description {
  background: #1c1c1c;
  color: #f9f9f9;
}
#navigation.collections .collections {
  background: #AE8FBC;
}
#navigation.collections .types {
  background: #FCEAE3;
}
#navigation.collections .vendors {
  background: #B8F2D6;
}
#navigation.collections .tags {
  background: #93D0F1;
}
#navigation.collections .tags a {
  color: #1c1c1c;
  text-shadow: 1px 1px 1px #f9f9f9;
}



#paginate span {
  background: #f1f1f1;
  border-bottom: 1px solid #DFDFDF;
}



#aside a, #aside a:visited {
  border-bottom: 1px dotted;
}



.product #article #thumbs {
  background: #E2CBD5;
}
.product #article #thumbs img {
  border: .36em solid #fff;
}



.blog #article #meta {
  background: #fff;
}
#article #meta a, #article #meta a:visited {
  border-bottom: 1px dotted;
}
ul.comments li {
  background: #fff;
}



.cart #image {
  background: #fff;
}
