
.col-1, .col-2, .collection #article.col-1 {
  width: 45%;
  float: left;
  overflow: hidden;
}
.col-1, .collection #article.col-1 {
  margin-right: 5%;
}
.col-2 {
  margin-left: 5%;
}


#header #line {
  width: 88%;
}


.section #article.thumb #figure, .section #article.thumb #figcaption {
  margin: 1.25em; /* 3.473% */
  width: 42%; /* 1 col = 42 + 2*3.473 = 48.946% */
} 


.collection #article.thumb, .search #article.page {
  width: 20%;
  margin-right: 6.66%;
  min-height: 32.5em;
}
.collection #article.c-4, .collection #article.c-8 {
  margin-right: 0;
}


.product select, #article #search input {
  margin-right: .612em;
}
.product select {
  width: 76%;
}
#article #search input.text {
  width: 77%;
}
#search ul {
  margin-bottom: 1.25em;
  list-style-type: none;
  margin-left: 0;
}




