
.col-1, .col-2 {
  width: 45%;
  float: left;
  overflow: hidden;
}
.col-1 {
  margin-right: 5%;
}
.col-2 {
  margin-left: 5%;
}


.collection #article {
  width: 20%;
  margin-right: 6.66%;
}
.collection #article.c-4, .collection #article.c-8 {
  margin-right: 0;
}




