
/* Vertical Rhytm */


body {
  font: normal 100% Helvetica, Arial, sans-serif;
  line-height: 1.25; 
}

/* Typograph: stranded */
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:3.23077em; padding:1.30935em 0; }
h2 { font-size:2.61538em; padding:1.28666em 0; }
h3 { font-size:2em; padding:1.25em 0; }




/* The basic grid */

.container {
  width: 80%; 
  max-width: 80em;  /* 80x16px=1280px */
  margin: 0 auto;
}  

.section #article.thumb #figure {
  float: left;
  width: 40%;
  margin-right: 5%;
}
.section #article.thumb #figcaption {
  float: right;
  width: 40%;
}




/* Header */

#header {
  height: 10em;
}
#header #shopping {
  position: relative;
  top: -7.5em;
  width: 30%; /* do not overlap the logo */
}

#footer {
  margin: 2.5em 0;
}





/* Frontpage */

/* General settings */
#article.thumb {
  width: 20em; /* medium sized image is 15x15em */
  height: 30em; 
}
#article.thumb #figure {
  height: 15em;
}


/* Sections at the frontpage */

.section {
  height: 26em;
  margin-bottom: 2.5em;
}

.section #title h1 {
  font-size: 1em;
  font-variant: small-caps;
}

.section #details, .section #articles {
  height: 20em;
  overflow: hidden;
}
.section .scroller {
  position: relative;
	float: left;
	padding: 0;
	width: 100%;
	height: 20em;
}
.section #article.thumb {
  width: 100%;
  height: auto;
}
.section #article.thumb #details {
  padding: 0;
}
.section #article.thumb #details #figure, 
.section #article.thumb #details #figcaption {
  margin: 1.25em;
}
.section #article.thumb #figcaption #title h3 {
  padding-top: 0;
}
.section #article.thumb #summary {
  position: absolute;
  bottom: 0;
  display: none;
  clear: both;
  padding: 1.25em;
  text-align: left;
}

.section #navigation {
  margin-bottom: 2.5em;
}
.section #navigation li.inactive a {
  color: gray;
}
.section #navigation li a {
  font-size: 2em;
  text-decoration: none;
}






/*
## Product page

*/
.product #thumbs li {
  width: 10%; /* small image is 6.75em */
}


/*
## Pages

*/

#aside {
  min-height: 20em;
  background: #f3f3f3;
}


/* 
## Shopping cart

*/

.cart ul {
  margin: 0;
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
}
.cart li {
  margin-right: 2%;
  display: inline-block !important;  
}
.cart #image {
  width: 10%;
}
.cart #info, .cart #update, .cart #lineprice, .cart #remove {
  position: relative;
  top: -2.5em;
}
.cart #info {
  width: 23%;
  margin: 0 4%;
}
.cart #update {
  width: 24%;
}
.cart #lineprice {
  width: 10%;
}
.cart #remove {
  width: 16%;
  margin-right: 0;
}
.cart input.quantity {
  width: 3em;
}
.cart img {
  max-width: 100px;
  max-height: 100px;
}
.cart #checkout input {
  float: right;
}







