
/* Vertical Rhytm */


body {
  font: normal 100% Helvetica, Arial, sans-serif;
  line-height: 1.25; 
}

/* Typograph: stranded */
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:3.23077em; padding:1.30935em 0; }
h2 { font-size:2.61538em; padding:1.28666em 0; }
h3 { font-size:2em; padding:1.25em 0; }




/* The basic grid 

- 1em = 16px
- 1.25em = 20px

*/

.container {
  width: 80%; 
  max-width: 80em;  /* 80x16px=1280px */
  margin: 0 auto;
}  




/* Header & Footer */

#header {
  margin-bottom: 2.5em;
}
#header #nav li a {
  font-size: small;
  padding: .36em 0;
}
#header #nav li, #footer #nav li {
  margin-right: .612em;
}
#header #nav li.search {
  margin-right: 0;
}
#header #logo h2 {
  padding-bottom: 0;
}
#header #shopping {
  -moz-border-radius: 5em;
  border-radius: 5em;
  height: 8em;
  width: 8em;
  margin-top: 1.25em; 
  text-align: center;
}
#header #shopping #quantity {
  margin-top: 2.8em;
}
#header #line {
  position: relative;
  z-index: -1; 
  top: -1.25em;
}

#footer {
  margin: 2.5em 0;
}



/* Content 

- since header has a margin bottom content must not be aligned
- on pages starting with <h1> the default padding-top of <h1> must be reset
*/

.blog .articles h1, .cart .products h1 {
  padding-top: 0;
}




/* Frontpage */

.section {
  height: 26em;
  margin-bottom: 2.5em;
}

.section #title h4, .section #navigation ul {
  margin-left: 1.25em;
}
.section #title h4 a {
  padding: .612em;
}


.section #details, .section #articles {
  height: 20em;
  overflow: hidden;
}
.section .scroller {
  position: relative;
	float: left;
	padding: 0;
	width: 100%;
	height: 20em;
}
.section #article.thumb {
  width: 100%;
  height: auto;
}
.section #article.thumb #details {
  text-align: left;
}
.section #article.thumb #figure {
  float: left;
  text-align: center;
}
.section #article.thumb #figcaption {
  float: right;
  padding: 0;
}
.section #article #figcaption #title h3 {
  padding-top: 0; /* Shared with #article.page */
}

.section #article.page #details {
  padding: 1.25em;
}
.section #article.page #summary {
  padding: 0;
}
#vendors.section #article.page span a {
  padding: .612em;
}



.section #navigation {
  margin-bottom: 2.5em;
}
.section #navigation li a {
  font-size: 2em;
  text-decoration: none;
}






/* General Settings
*/


/* Articles, Article types */


#article #summary {  
  padding: 1.25em;
}


#article.thumb {
  width: 20em; /* medium sized image is 15x15em */
  height: 30em; 
}
#article.thumb #figure {
  height: 15em;  
  padding: 1.25em 0;
}
#article.thumb #details {
  padding: 0;
}
#article.thumb #details #figure {
  margin: 1.25em;
}
#article.thumb #summary {
  position: absolute;
  left: 50%;
  height: 20em;
  display: none;
  clear: both;
  text-align: left;
}



/* Collections navigation */

#navigation.collections {
  margin: 0 0 5em;
}
#navigation.collections > span,
.section #article.page span {
  display: inline-block;
  float: left;
  margin-right: 1.25em;
  padding: .612em .36em .612em .36em;
}
#navigation.collections span a,
#navigation.collections .show-more,
.section #article.page span a {
  margin-right: .612em;
}
#navigation.collections span a.last {
  margin-right: 0;
}
.collection #navigation.collections span a.active, 
.collection #navigation.collections span.active {
  border-bottom: 1px dotted;
}

#paginate span {
  padding: .612em;
}
#paginate span.current {
  background: none;
  border: none;
}



/* Search and input boxes */

.product select, .product input,
#article #search input {
  float: left;
}


.search ul.search {
  list-style-type: none;
}
.search input.text {
  width: 33%;
}

.comment-form input.text {
  width: 96%;
} 
.comment-form textarea {
  width: 97%;
}


/* Messages */

.section .notice {
  margin-top: 3.75em;
}
.section #details .notice {
  margin-top: 0;
}
.notice, .success, .error {  
  padding: 1.25em;
}









/* Collections */

.collection #article.thumb, .search #article.page {
  float: left;
  margin-bottom: 5em;
  height: auto;
}
.collection #article.thumb #summary {  
  height: 30em;
  position: relative;
  cursor: pointer;
}
.collection #article.thumb #figure {
  cursor: pointer;
}
.collection #sidebar #navigation.collections {
  margin-top: 0;
}

.collection #article #title h3 {
  padding: 0 0 1.25em; /* Common with search articles */
}


/* Search */

.search #article.page #title, .search #article.page #summary {
  padding: 1.25em;
}
.search #article.page #title {
  padding-bottom: 0;
}

.search #article.page #summary {
  display: block;
}



/* Product page */

.product #figure {
  padding: 2.5em 1.25em;
  text-align: center;
}
.product #thumbs {
  padding: 1.25em;
}
.product #thumbs li {
  width: 10%; /* small image is 6.75em */
  margin-right: .612em;
}



/* Sidebar */

#aside {
  padding: 1.25em;
}
#aside ul {  
  list-style-type: none;
}
.product #aside ul {
  margin: 1.25em 0 0;
}
li.facebook {
  position: relative;
  top: .13em;
}

#sidebar #navigation.collections > span {
  margin-right: 0;
}



/* Blogs and Pages */

.blog #article {
  margin-bottom: 5em;
}
.blog #article h3 {
  padding-left: .612em;
  padding-right: .612em;
}
.article #article #comments, #article #search, #article #meta {
  padding: 0 1.25em;
}
.article #article #summary {
  margin: 1.25em 0;
}

.blog #article #meta {
  padding: 1.25em;  
}

.date {
  font-size: smaller;
  margin-left: .612em;
}
.blog .date, #aside .date {
  display: none;
}


/* Comments */
#article .date {
  padding-top: 1.25em;
}
ul.comments {
  margin-left: 1.25em;
  list-style-type: none;
}
ul.comments li {
  padding: 1.25em .612em;
}



/* 
## Shopping cart

*/



.cart .products #article {
  margin-bottom: 2.5em;
}
.cart .products #article div {
  float: left;
  margin: 1%;
}
.cart .products #image {
  width: 10%;
  height: 100px;
  min-width: 100px;
  text-align: center;
}
.cart .products img {
  max-width: 100px;
  max-height: 100px;
}
.cart .products #info, .cart .products #lineprice, .cart .products #remove {
  padding-top: 1.862em;
}
.cart .products #info {
  width: 27%;
  margin: 0 4%;
}
.cart .products #update {
  width: 24%;
  padding-top: 1.25em;
}
.cart .products #lineprice {
  width: 10%;
}
.cart .products #remove {
  width: 16%;
  margin-right: 0;
}
.cart .products input.quantity {
  width: 3em;
}

.cart .products ul {
  margin: 0;
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
}
.cart .products li {
  margin-right: 1%;
  margin-left: 1%;
  display: inline-block !important; 
  margin-top: 1.25em; 
}
.cart .products #checkout input {
  float: right;
}
.cart .products #checkout #gotocheckout {
  position: relative;
  top: .612em;
} 




/* Not Found */

.not_found #navigation.collections {
  margin-top: 0;
}



