.container {
  margin: 0 .625em;
}

.col-1, .col-2 {
  width: 100%;
  float: left;
  overflow: hidden;
}

.section #article.thumb #figure, .section #article.thumb #figcaption {
  float: left;
  text-align: left;
  width: 90%;
  margin-right: 5%;
}
