/*

background: f9f9f9
  - color, link: 1c1c1c (-26)
  - article background: f1f1f1 (-1)
  - button: B9B9B9 (shades)
    - shadow, border: DFDFDF (shades)
  - sales button: FAAFAF (monochromatic)
    - variants: fccfcf (+2), f88f8f (-2), f77f7f (-3), FCD9C9 (+11, text), f66f6f (-4, text-shadow)

*/




body {
  background: url(simple.jpg) repeat scroll #f9f9f9;
  color: #1c1c1c;
}


a, a:hover {
  color: #1c1c1c;
  text-decoration: none;
}


input, textarea, a.button {
  -moz-box-shadow: 0 1px 0 0 #DFDFDF inset;
  -webkit-box-shadow: 0 1px 0 0 #DFDFDF inset;
  box-shadow: 0 1px 0 0 #DFDFDF inset;
  background-color: #B9B9B9;
  background: -moz-linear-gradient(center top , #DFDFDF 5%, #B9B9B9 100%) repeat scroll 0 0 #B9B9B9;
  background: -webkit-linear-gradient(top, #DFDFDF, #B9B9B9) repeat scroll 0 0 #B9B9B9;
  border: 1px solid #DFDFDF;
  color: #4C4C4C !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #DFDFDF;
}
input.button:hover, a.button:hover {
  background: -moz-linear-gradient(center top , #B9B9B9 5%, #DFDFDF 100%) repeat scroll 0 0 #DFDFDF;
  background: -webkit-linear-gradient(top, #B9B9B9, #DFDFDF) repeat scroll 0 0 #DFDFDF;
}
input.text, textarea {
  background: none repeat scroll 0 0 #DEDBD3;
}


#sale input, #sale textarea, #sale a.button {
  -moz-box-shadow: 0 1px 0 0 #fccfcf inset;
  -webkit-box-shadow: 0 1px 0 0 #fccfcf inset;
  box-shadow: 0 1px 0 0 #fccfcf inset;
  background-color: #FAAFAF;
  background: -moz-linear-gradient(center top , #FAAFAF 5%, #f88f8f 100%) repeat scroll 0 0 #FAAFAF;
  border: 1px solid #f77f7f;
  color: #f9f9f9 !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #f66f6f;
}
#sale input.button:hover, #sale a.button:hover {
  background: -moz-linear-gradient(center top , #f88f8f 5%, #FAAFAF 100%) repeat scroll 0 0 #f88f8f;
  background: -webkit-linear-gradient(top, #f88f8f, #FAAFAF) repeat scroll 0 0 #f88f8f;
}




#header #logo h2 {
  border-bottom: 2px dotted;
}
#header #shopping {
  background: #1c1c1c;  
  color: #f9f9f9;
}
#header #shopping a, #header #shopping a:visited {
  color: #f9f9f9;
}
#header #shopping #quantity {
  border-bottom: 1px dotted;
}


#article, #aside, #vendors #articles, #info #articles {
  background: #f1f1f1;
}
#article #figure {
  background: #fff;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;  
}
#article #summary {
  background: #1c1c1c;
  color: #f9f9f9;
}
#summary a, #summary a.visited  {
  text-decoration: underline;
  color: #f9f9f9;
}
.section #navigation li a {
  color: #DFDFDF;
}
.section #navigation li.active a {
  color: #1c1c1c;
}



#navigation.collections .title, #navigation.collections .description {
  background: #1c1c1c;
  color: #f9f9f9;
}
#navigation.collections .collections {
  background: #E2CFCB; /*FFE6FE*/
}
#navigation.collections .types {
  background: #FCEAE3;
}
#navigation.collections .vendors {
  background: #E2CBD6;
}
#navigation.collections .tags {
  background: #f1f1f1;
}
#navigation.collections .tags a {
  color: #1c1c1c;
  text-shadow: 1px 1px 1px #f9f9f9;
}



#paginate span {
  background: #f1f1f1;
  border-bottom: 1px solid #DFDFDF;
}



#aside a, #aside a:visited {
  border-bottom: 1px dotted;
}



.product #article #thumbs {
  background: #E2CBD5;
}
.product #article #thumbs img {
  border: .36em solid #fff;
}



.blog #article #meta {
  background: #fff;
}
#article #meta a, #article #meta a:visited {
  border-bottom: 1px dotted;
}
ul.comments li {
  background: #fff;
}



.cart #image {
  background: #fff;
}
