.col-1, .col-2 {
  width: 90%;
  float: left;
  overflow: hidden;
}


.collection #article  {
  width: 45%;
  margin-right: 10%;
}
.collection #article.c-2, .collection #article.c-4, .collection #article.c-6, .collection #article.c-8 {
  margin-right: 0;
}


