
.col-1, .col-2 {
  width: 100%;
  float: left;
  overflow: hidden;
}
.col-2 {
  display: none;
}

.section #article.thumb #figure {
  float: left;
  width: 40%;
  margin-right: 5%;
}
.section #article.thumb #figcaption {
  float: right;
  width: 40%;
}
