.section #title h1 {
  font-size: 1em;
  font-variant: small-caps;
}
#article {
  background: #eee;
}
#article #figure {
  background: #fff;
}
#article #summary {
  background: #000;
  color: #fff;
  opacity: .7;
  filter: alpha(opacity=70);
}
.section #navigation ul {
  background: #f9f9f9;
}


