.col-1, .col-2 {
  width: 48%;
  float: left;
  overflow: hidden;
}
.col-1 {
  margin-right: 2%;
}
.col-2 {
  margin-left: 2%;
}

.collection #article  {
  width: 30%;
  margin-right: 5%;
}
.collection #article.c-3, .collection #article.c-6 {
  margin-right: 0;
}

