/*
- Madrid color scheme for Scrol Theme for Shopify
- by Shopledge (www.shopledge.com)
- created April 2011
- version 1.0


*/


/*
 - background: c8c8c6
  - article: E7E7DF (picked)
    - frontpage vendors link background: eeeee9 (+1)
  - button: 
    - variants: b7b7b5 (-2, gradient), afafac (-3, border), d9d9d7 (+2, shadow), (e8e8e6, text-shadow)
 - link: 9E515C 
 - color: #000, #333
    

*/




body {
  background: url(background.jpg) repeat scroll #c8c8c6;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: MuseoSans-500;
}
h1, h2, h3 {
  text-transform: uppercase;
}



a, a:hover {
  text-decoration: none;
  color: #111;
}
a:hover {
  color: #333;
}



/* Messages */


.notice {
  background: #D4C97E;
}
.success {
  background: #C7D5BF;
}
.error {
  background: #9E515C;
  color: #c8c8c6;
}
.notice a, .notice a:hover {
  text-decoration: underline;
}



/* Forms */

input, textarea, a.button {
  -moz-box-shadow: 0 1px 0 0 #d9d9d7 inset;
  -webkit-box-shadow: 0 1px 0 0 #d9d9d7 inset;
  box-shadow: 0 1px 0 0 #d9d9d7 inset;
  background-color: #c8c8c6;
  background: -moz-linear-gradient(center top , #c8c8c6 5%, #b7b7b5 100%) repeat scroll 0 0 #c8c8c6;
  background: -webkit-linear-gradient(top, #c8c8c6, #b7b7b5) repeat scroll 0 0 #c8c8c6;
  border: 1px solid #afafac;
  color: #333 !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #e8e8e6;
}
input.button:hover, a.button:hover {
  background: -moz-linear-gradient(center top , #b7b7b5 5%, #c8c8c6 100%) repeat scroll 0 0 #b7b7b5;
  background: -webkit-linear-gradient(top, #b7b7b5, #c8c8c6) repeat scroll 0 0 #b7b7b5;
}
input.text, textarea {
  background: none repeat scroll 0 0 #eeeee9;
}

#sale input, #sale textarea, #sale a.button, .product .button {
  -moz-box-shadow: 0 1px 0 0 #af626d inset;
  -webkit-box-shadow: 0 1px 0 0 #af626d inset;
  box-shadow: 0 1px 0 0 #af626d inset;
  background-color: #9E515C;
  background: -moz-linear-gradient(center top , #9E515C 5%, #88454f 100%) repeat scroll 0 0 #9E515C;
  background: -webkit-linear-gradient(top, #9E515C, #88454f) repeat scroll 0 0 #9E515C;
  border: 1px solid #7c4048;
  color: #EABFC5 !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #494946;
}
#sale input.button:hover, #sale a.button:hover, .product .button:hover {
  background: -moz-linear-gradient(center top , #88454f 5%, #9E515C 100%) repeat scroll 0 0 #88454f;
  background: -webkit-linear-gradient(top, #88454f, #9E515C) repeat scroll 0 0 #88454f;
}




/* Header */

#header #line {
  border-bottom: 2px dotted #9E515C;
}
#header #shopping {
  background: #9E515C;  
  color: #c8c8c6;
  text-shadow: none;
}
#header #shopping a, #header #shopping a:visited {
  color: #c8c8c6;
  text-shadow: none;
}



/* Frontpage */

.section #title h4 a {
  background: none;
  padding: 0;
}
#vendors.section #article #summary {
  background: #E7E7DF;
  color: #111;
}
#vendors.section #article li a, #vendors.section #article li a:visited {
  background: #eeeee9;
  color: #111;
  text-decoration: none;
}
.section #navigation li a {
  color: #999;
}
.section #navigation li.active a {
  color: #666;
}


/* Frontpage, Collections Articles Overwriting */

.section {
  height: 28em;
} 
.section #details, .section #articles, .section .scroller {
  height: 22em;
}
.collection #article.thumb, .search #article.page {
  height: 38.5em;
}



/* Articles */

#article, #aside, #vendors #articles, #info #articles {
  background: #E7E7DF;
}
#article #figure {
  background: #fff;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;  
}
#article #summary {
  background: #d9d9cb;
  color: #333;
  text-shadow: none;
}
#summary a, #summary a.visited  {
  text-decoration: underline;
  color: #111;
  text-shadow: none;
}




/* Collection */

#navigation.collections li, #navigation.collections li a {
  text-shadow: none;
}
#navigation.collections .title, #navigation.collections .description {
  background: #c8c8c6;
}
#navigation.collections .collections {
  background: #D7DFC9;
}
#navigation.collections .types {
  background: #DFDDC9;
}
#navigation.collections .vendors {
  background: #D5D1BF;
}
#navigation.collections .tags {
  background: #C7D5BF;
}


/* Pagination */
#paginate span {
  background: #e0e0d5;
  border-bottom: 1px solid #c8c8c6;
}




/* Sidebar */

#aside a, #aside a:visited {
  border-bottom: 1px dotted;
}



/* Product */

.product #article #thumbs {
  background: #eeeee9;
}
.product #article #thumbs img {
  border: .36em solid #fff;
}




/* Blog Article */


.blog #article #meta, .article #article #meta, .article #comments {
  background: #d9d9cb;
}
#article #meta a, #article #meta a:visited {
  border-bottom: 1px dotted;
}
.article #article #meta, .article #article #summary {
  border-bottom: 1px solid #E7E7DF;
}
.blog #article #summary {
  border-top: 1px solid #E7E7DF;
}
.article #article #summary {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.article #article #comments {
  padding-bottom: 1.25em;
}
ul.comments li {
  background: #eeeee9;
}




