.fullscreen {
  max-width: 120em;
}
.showgrid-vertical .col {
  width: 13.334em; 
}
.container {
  width: 80em; 
}
.container-left {
  margin-left: 13.334em;
}
.container-right {
  margin-right: 13.334em;
}
.item, .item1 {
  width: 13.333em;
}


