/*
- SF (San Francisco) color scheme for Scrol Theme for Shopify
- by Shopledge (www.shopledge.com)
- created April 2011
- version 1.0


*/

/* Colors:

- background: E8E8D9
- article: E7E6C7
  - frontpage vendor link background: dddbaf (-2)
- text and link color: 6D6850
    
- buttons:
  - normal: 
    - background: 3E81BA
    - gradient: 366fa1 (-2)
    - text: E7E6C7
    - border: 316694 (-3)
    - shadow: 5492c6 (+2)
    
- collections: (from the blue button)
  - coll: C55A56
  - types: 83871F
  - vendors: BA893E
  - tags: FCFCA0

*/



body {
  background: url(background.jpg) repeat scroll #E8E8D9;
  color: #6D6850;
  font-family: 'Expletus Sans', arial, serif;
}


a, a:hover { 
  color: #6D6850;
  text-decoration: none;
}



/* Messages */

.notice {
  background: #D4C97E;
}
.success {
  background: #B4BA3E;
}
.error {
  background: #C55A56;
  color: #E8E8D9;
}
.notice a, .notice a:hover {
  text-decoration: underline;
}




/* Forms */

input, textarea, a.button {
  -moz-box-shadow: 0 1px 0 0 #5492c6 inset;
  -webkit-box-shadow: 0 1px 0 0 #5492c6 inset;
  box-shadow: 0 1px 0 0 #5492c6 inset;
  background-color: #3E81BA;
  background: -moz-linear-gradient(center top , #3E81BA 5%, #366fa1 100%) repeat scroll 0 0 #3E81BA;
  background: -webkit-linear-gradient(top, #3E81BA, #366fa1) repeat scroll 0 0 #3E81BA;
  border: 1px solid #316694;
  color: #E7E6C7 !important;
  text-decoration: none !important;
  text-shadow: none;
}
input.button:hover, a.button:hover {
  background-color: #366fa1;
  background: -moz-linear-gradient(center top , #366fa1 5%, #3E81BA 100%) repeat scroll 0 0 #366fa1;
  background: -webkit-linear-gradient(top, #366fa1, #3E81BA) repeat scroll 0 0 #366fa1;
}
input.text, textarea {
  background: none repeat scroll 0 0 #DEDBD3;
  color: #6D6850 !important;
}



/* Header */


#header #line {
  border-bottom: 2px dotted;
}
#header #shopping {
  background: #6D6850;
}
#header #shopping a, #header #shopping a:visited, #header #shopping a:hover {
  color: #E8E8D9;
}



/* Frontpage */

.section #title h4 a {
  background: #EDD467; 
}
#vendors.section #article #summary {
  background: #E7E6C7;
  color: #6D6850;
}
#vendors.section #article li a, #vendors.section #article li a:visited {
  background: #dddbaf;
  color: #6D6850;
  text-decoration: none;
}

.section #navigation li a {
  color: #999;
}
.section #navigation li.active a {
  color: #6D6850;
}


/* Articles */


#article, #aside, #vendors #articles, #info #articles {
  background: #E7E6C7;
}
#article #figure {
  background: #fff;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;  
}
#article #summary {
  background: #6D6850;
  color: #E8E8D9;
}
#summary a, #summary a.visited  {
  text-decoration: underline; 
  color: #E8E8D9;
  text-shadow: none;
}



/* Collection */

#navigation.collections li, #navigation.collections li a {
  text-shadow: none;
}
#navigation.collections .title, #navigation.collections .description {
  background: #6D6850;
  color: #E8E8D9;
}
#navigation.collections .collections {
  background: #C55A56;
}
#navigation.collections .types {
  background: #83871F;
}
#navigation.collections .vendors {
  background: #BA893E;
}
#navigation.collections, #navigation.collections a, #navigation.collections a:visited {
  color: #E8E8D9;
} 

#navigation.collections .tags {
  background: #EDD467;
}
#navigation.collections .tags,  #navigation.collections .tags a {
  color: #6D6850;
}



/* Collection overwrites */

.collection #navigation ul.inline-list {
  margin-right: 0;
}


/* Pagination */
#paginate span {
  background: #E7E6C7;
  border-bottom: 1px solid #6D6850;
}


/* Sidebar */

#aside a, #aside a:visited {
  border-bottom: 1px dotted;
}



/* Product */


.product #article #thumbs {
  background: #EDD467;
}
.product #article #thumbs img {
  border: .36em solid #fff;
}



/* Blog Article */


.blog #article #meta, .article #article #meta {
  background: #EDD467;
}
#article #meta a, #article #meta a:visited {
  border-bottom: 1px dotted;
}
ul.comments li {
  background: #EDD467;
}







