
/* Header
*/

#header #logo h1 {  
  font-size: 1.5em;
}
#header #logo a, #header #logo a:link, #header #logo a:active, #header #logo a:visited {
  color: white;
  text-decoration: none;
}  
#header #navigation {
  margin-top: 5em;
}
#header #navigation a, #header #navigation a:link, #header #navigation a:active, #header #navigation a:visited {
  color: black;
  text-decoration: none;
}
#header #navigation a:hover, #header #navigation ul li a.active {
  border-bottom: .5em solid;
  padding-bottom: .2em;
}
#header #navigation ul li {
  padding-right: 1em;
  margin-bottom: 1em;
}
#header #navigation ul li.last {
  padding-right: 0;
  float: right;
}


/* Startpage
*/

#index #info #featured {
  margin: 10% 0;
}
#index #info #featured ul {
  margin: 0;
}
#index #info #featured ul li {
  margin-bottom: 5%;
}
#index #info #featured table td {
  vertical-align: top;
}
#index #info #featured table td.image {
  width: 120px;
  text-align: center;
}
#index #info #featured table td.info {
  padding: 5% 0 0 5%;
}

#index #featured #item {
  width: 45%;
  height: 20em;
  margin: 0 5% 5% 0;
  float: left;
}
#index #featured #item img {
  max-width: 13em;
  height: auto;
}

#index #sale {
  margin: 10% 0;
}
#index #sale ul li {
  width: 22.5%;
  margin: 0 2.5% 5% 0;
}
#index #sale ul li.percent {
  background: black;
}
#index #sale ul li.percent h1 {
  font-size: 2em;
  margin: .7em;
}
#index #sale table td.info {
  padding-left: 2.5%;
}



/* Footer
*/

#footer {
  margin-bottom: 5%;
}
#footer .container {
  border-top: 1px solid;
  padding-top: .5em;
}



/* Common
*/

.hidden {
  display: none;
}

img.thumb {
  max-width: 100px;
  max-height: 100px;
}

ul.inline-list {
  display: block;
  margin: 0;
}
ul.inline-list li {
  display: inline;
  float: left;
  list-style-type: none;
  margin-left: 0;
  white-space: nowarp;  
}
