/* Colors & Theme

Hot Rocks!:
  - red: FF3300
  - yellow: FFFF66
  - green: 99FF33
  - blue: 3399FF
  - lila: 2E0927
*/

.red, .sale, .error {
  color: #FF3300 !important;
}
.redb, .saleb, .errorb {
  background: #FF3300 !important;
}
.green, .new, .success {
  color: #99FF33 !important;
}
.greenb, .newb, successb {
  background: #99FF33 !important;
}
.yellow, .highlight, .notice {
  color: #FFFF66 !important;
}
.yellowb, .highlightb, .noticeb {
  background: #FFFF66 !important;
}
.blue {
  color: #3399FF !important;
}
.blueb {
  background: #3399FF !important;
}

a, a:visited, a:active, :link {
  color: black;
  text-decoration: none;
}


#index #sale .percent {
  background: #FF3300 !important;
}
#index #sale .percent h1 {
  background: #FF3300 !important;
}
#index #sale .price {
  color: #FF3300 !important;  
}


.title {
  padding: .5em;
}
#index #featured .title {  
  margin: 0;
}
#index #featured #item h6 {
  font-size: 1em;
}


