html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {  
  font-family: "Droid Sans", "Lucida Grande", "Verdana", "Arial", "Helvetica", "Gill Sans", sans-serif; 
}

.post-meta,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: "Droid Serif", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif;  
}
blockquote, pre, abbr, acronym, address, cite, code {
  font-family: "Liberation Mono", Menlo, Courier New, Courier, Mono, monospace;
}






.afs-droid-sans { font-family: "Droid Sans", "Lucida Grande", "Verdana", "Arial", "Helvetica", "Gill Sans", sans-serif; ;}

.afs-droid-serif { font-family: "Droid Serif", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif; font-size: 100.00%;}

.afs-liberation-mono { font-family: "Liberation Mono", Menlo, Courier New, Courier, Mono, monospace; font-size: 101.52%;}


@font-face {
  font-family: Droid Sans;
  src: url('/fonts/Droid-Sans/DroidSans-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Sans/DroidSans-webfont.woff') format('woff'), url('/fonts/Droid-Sans/DroidSans-webfont.ttf') format('truetype'), url('/fonts/Droid-Sans/DroidSans-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Droid Sans;
  src: url('/fonts/Droid-Sans/DroidSans-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Sans/DroidSans-Bold-webfont.woff') format('woff'), url('/fonts/Droid-Sans/DroidSans-Bold-webfont.ttf') format('truetype'), url('/fonts/Droid-Sans/DroidSans-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: Droid Serif;
  src: url('/fonts/Droid-Serif/DroidSerif-Italic-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Serif/DroidSerif-Italic-webfont.woff') format('woff'), url('/fonts/Droid-Serif/DroidSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/Droid-Serif/DroidSerif-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: Droid Serif;
  src: url('/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.woff') format('woff'), url('/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: Droid Serif;
  src: url('/fonts/Droid-Serif/DroidSerif-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Serif/DroidSerif-Bold-webfont.woff') format('woff'), url('/fonts/Droid-Serif/DroidSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/Droid-Serif/DroidSerif-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Droid Serif;
  src: url('/fonts/Droid-Serif/DroidSerif-Regular-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Serif/DroidSerif-Regular-webfont.woff') format('woff'), url('/fonts/Droid-Serif/DroidSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/Droid-Serif/DroidSerif-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: Droid Serif;
  src: url('/fonts/Droid-Serif/DroidSerif-Italic-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Serif/DroidSerif-Italic-webfont.woff') format('woff'), url('/fonts/Droid-Serif/DroidSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/Droid-Serif/DroidSerif-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: Droid Serif;
  src: url('/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.woff') format('woff'), url('/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: Droid Serif;
  src: url('/fonts/Droid-Serif/DroidSerif-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Serif/DroidSerif-Bold-webfont.woff') format('woff'), url('/fonts/Droid-Serif/DroidSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/Droid-Serif/DroidSerif-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Droid Serif;
  src: url('/fonts/Droid-Serif/DroidSerif-Regular-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Serif/DroidSerif-Regular-webfont.woff') format('woff'), url('/fonts/Droid-Serif/DroidSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/Droid-Serif/DroidSerif-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: Liberation Mono;
  src: url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Liberation Mono;
  src: url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: Liberation Mono;
  src: url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Liberation Mono;
  src: url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}
