.container {
  width: 90%;
  max-width: 80em;  
  margin: 0 auto;
}

.col-1 {
  margin-right: 5%;
  width: 33.195%;
}
.col-2 {
  width: 61.804%;
}

#index #featured #item {
  width: 50%;
  height: 20em;
  margin: 0 0% 5% 0;
  float: left;
}
#index #featured #item .col-1 {
  width: 66%;
  margin-right: 4%;
}
#index #featured #item .col-2 {
  width: 30%;
  margin-right: 0%;
}

#index #sale #item {
  width: 22.5%;
  height: 10em;
  margin: 0 2.5% 5% 0;
  float: left;
}
#index #sale #item .col-1 {
  width: 50%;
  margin-right: 0%;
  text-align: center;
}
#index #sale #item .col-2 {
  width: 40%;
  margin-left: 10%;
}


#collection #items #item {
  width: 100%; 
  margin-bottom: 5%;
  float: left;
}
#collection #items #item .col-1 {
  width: 39%;
  margin-right: 5%;
}
#collection #items #item .col-2 {
  width: 56%;
  margin-right: 0%;
}



#product .col-1, #cart .col-1 {
  width: 61.804%;
}
#product .col-2, #cart .col-2 {  
  width: 33.195%;
}
#product #description .col-1, #cart #contents .col-1  {
  width: 54%;
  margin-right: 7%;
}
#product #description .col-2, #cart #contents .col-2 {
  width: 39%;
}
#product #product-select select, #product #product-select input {
  width: 100%;
}
#navigation #sale #item .col {
  margin-right: 5%;
}
#navigation #sale #item {
  width: 45%;
  height: 10em;
  margin: 0 5% 5% 0;
  float: left;
}
#navigation #sale #item .col-1 {
  width: 50%;
  margin-right: 0%;
  text-align: center;
}
#navigation #sale #item .col-2 {
  width: 40%;
  margin-left: 10%;
}





/* Mobile
*/

@media (max-width: 1024px) {
  #index #sale #item {
    width: 30% !important;
    margin-right: 3% !important;    
  }
  #collection #items #item #images img {
    max-width: 80px !important;
    max-height: 80px !important;
  }
}

@media (max-width: 800px) {
  #index #featured #item {
    width: 100% !important;
    margin-right: 0% !important;    
  }
  #collection #items #item .col-1, #collection #items #item .col-2 {
    width: 100% !important;
  }
}


/* Better than iPhone */
@media (max-width: 600px) {
  .container, .col-1, .col-2 {
    float: none !important;
    width: auto !important; 
    margin: 2%;   
  }
  .col-1 {
    margin-right: 0 !important;
  }
  #index #featured #item {
    width: 100% !important;
    margin-right: 0 !important;
    height: auto !important;
  }
  #index #featured #item .col-1 {
    width: 80% !important;
    margin-right: 20% !important;
  }
  #index #featured #item .col-2 {
    width: 100% !important;
    margin-right: 0% !important;
  }   
  #index #sale #item {
    font-size: 1em !important;
  }
  #index #sale #item .col-1 {
    width: 50% !important;
    margin-right: 0% !important;
    float: left !important;
  }
  #index #sale #item .col-2 {
    width: 40% !important;
    margin-left: 10% !important;
    float: left !important;
  }
  
  #collection #navigation #tags {
    display: none;
  }
}




/* Common
*/

.left {
  float: left;
}
.right {
  float: right;
}
.block {
  width: 100%;
  clear: both;
}
.clear {
  clear: both;
}
