.container {
  width: 90%;
  max-width: 80em;  
  margin: 0 auto;
}



/* Common
*/

.col-1 {
  margin-right: 2.5%;
  width: 35.695%;
}
.col-2 {
  width: 61.804%;
}

.left {
  float: left;
}
.right {
  float: right;
}
.block {
  width: 100%;
  clear: both;
}
